
@{
     Layout = "_DashboardLayout";
} 


<div class="card">
    <div class="card-body p-5">
         <h5 class="card-title">Shto bllokun e ri</h5>

<form class="my-auto">
  <div class="form-row">
    <div class="form-group col-md-12 pb-2">
      <label class = "form-label pt-2" for="">Emri I Bllokut:</label>
      <input type="text" class="form-control"  placeholder="">
    </div>
    
    
     <button type="submit" class="btn btn-primary mt-1 pt-2">Shto</button>
  </div>



 
</form>

</div>
</div>