
@{
     Layout = "_DashboardLayout";
} 


<div class="card">
    <div class="card-body p-5">
         <h5 class="card-title">Krijo Bllokun</h5>

<form class="my-auto">
  <div class="form-row">
    <div class="form-group col-md-6 ">
      <label class = "form-label pt-2" for="">Emri I Bllokut:</label>
      <input type="text" class="form-control"  placeholder="">
    </div>
    <div class="form-group col-md-6">
      <label class = "form-label pt-2" for="">Qyteti:</label>
      <input type="text" class="form-control"  placeholder="">
    </div>
     <div class="form-group col-md-6 pb-4">
      <label class = "form-label pt-2" for="inputCity">Fshati/Lagjia:</label>
      <input type="text" class="form-control" id="inputCity" placeholder="">
    </div>
     <button type="submit" class="btn btn-primary mt-1 pt-2">Shto</button>
  </div>



 
</form>

</div>
</div>