
@{
     Layout = "_DashboardLayout";
} 


<div class="card">
    <div class="card-body p-5">
         <h5 class="card-title">Krijo Shtepine</h5>

<form class="my-auto">
  <div class="form-row">
    <div class="form-group col-md-6 ">
      <label for="">Nr I Shtepise:</label>
      <input type="text" class="form-control"  placeholder="">
    </div>
    <div class="form-group col-md-6">
      <label for="">Qyteti:</label>
      <input type="text" class="form-control"  placeholder="">
    </div>
     <div class="form-group col-md-6">
      <label for="inputCity">Fshati/Lagjia:</label>
      <input type="text" class="form-control" id="inputCity" placeholder="">
    </div>
    <div class="form-group col-md-6">
      <label for="inputCity">Rruga:</label>
      <input type="text" class="form-control" id="inputCity" placeholder="">
    </div>
     <button type="submit" class="btn btn-primary mt-1">Shto</button>
  </div>



 
</form>

</div>
</div>