
@{
     Layout = "_DashboardLayout";
}

<section class="section">
      <div class="row">
        <div class="col-lg-10">

           
              <div class="card">
                <div class="card-body p-5">

                    <form>
                       <div class="form-group pb-3">
                        <label for="InputRole">Emri i partis</label>
                        <input type="text" class="form-control" id="AddSubject">
                      </div>

                      <div class="form-group pb-3">
                        <label for="InputRole">Kryetari i partis</label>
                        <input type="text" class="form-control" id="InputRole">
                      </div>

                        <span>Nr.Tel</span>

                        <div class="mb-4">
                        <div class=" d-flex align-items-center mt-2">
                            <div class="col-2">
                                <input type="text" class="form-control" id="prefix" value="+383">
                            </div>
                            <div class="col-10 ps-2">
                                <input class="form-control" id="nrtel" type="number">
                            </div>
                        </div>
                         <span  class="text-danger"></span>
                        </div>
                      <div class="form-group pb-3">
                        <label for="exampleInputEmail1">Email adresa</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                      </div>
                       
                      <button type="submit" class="btn btn-primary">Regjistro</button>
                    </form>
            
                </div>
              </div>

            </div>
          </div>
    </section>
