@{
     Layout = "_DashboardLayout";
}

<section class="section">
   <div class="row">
        <div class="col-md-3">
            <div class="card">
                <a asp-controller="Dashboard" asp-action="AddRole" class="btn btn-primary">Shto rol</a>

            </div>
        </div>
    </div>
     
    <div class="row">
        <div class="col-lg-10">

           
              <div class="card">

                <div class="table-responsive">
                <table class="table table-bordered"
                       id="dataTable"
                       width="100%"
                       cellspacing="0">
                    <thead>
                        <tr>
                            <td width=85%;>Rolet</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                   <td>
                                    Menager
                                   </td>
                                    <td>
                                    <a asp-action="EditRole"><i class="bi bi-pencil"></i></a> &nbsp;
                                    <a asp-action="DetailsRole"><i class="bi bi-card-list"></i></a>  &nbsp;
                                    <a asp-action="DeleteRole"><i class="bi bi-trash"></i></a>
                                    </td>
                                   
                                
                            </tr>
                    </tbody>
                </table>
                
               </div>
              </div>

            </div>
         </div>
 </section>
