
@{
     Layout = "_DashboardLayout";
}

<div class="card">
    <div class="card-body p-5">
<div class="d-flex justify-content-between ">

 
  <select class="custom-select btn-light rounded" id="inputGroupSelect01">
    <option selected>Qyteti...</option>
    <option value="1">Prishtine</option>
    <option value="2">Podujeve</option>
    <option value="3">Viti</option>
    <option value="3">Gllogovc</option>
  </select>


                  
  <select class="custom-select btn-light rounded" id="inputGroupSelect01">
    <option selected>Lagjia/Fshati...</option>
    <option value="1">Mati1</option>
    <option value="2">Shajkofc</option>
    <option value="3">Drobesh I Eperm</option>
    <option value="3">Tic</option>
  </select>




    
     <form>

           <div class="d-flex">
               <input type="text" class="form-control border-0" placeholder="Kërko sipas bllokut" aria-describedby="button-addon1" name="SearchPhrase">
               <button type="submit" class="btn btn-primary text-white">Kërko</button>

           </div>

     </form>



      <a type="button" class="btn btn-primary" asp-controller="Dashboard" asp-action="AddBlock">Shto+</a>




</div>



<div class="my-5">

 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Emri i Bllokut</th>
      <th scope="col" class="text-end">Actions</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mati 1</td>
    <td class="text-end"> 
            <ul class="list-inline m-0">
               <li class="list-inline-item">
                 <a ><i class="bi bi-pencil"></i></a>
               </li>
               <li class="list-inline-item">
                 <a><i class="bi bi-card-list"></i></a>
               </li>
               <li class="list-inline-item">
                 <a><i class="bi bi-trash"></i></a>
               </li>
            </ul>
           </td>
    
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Drobesh I Eperm</td>
     <td class="text-end"> 
            <ul class="list-inline m-0">
               <li class="list-inline-item">
                 <a  ><i class="bi bi-pencil"></i></a>
               </li>
               <li class="list-inline-item">
                 <a><i class="bi bi-card-list"></i></a>
               </li>
               <li class="list-inline-item">
                 <a><i class="bi bi-trash"></i></a>
               </li>
            </ul>
           </td>
     
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Shajkofc</td>
      
          <td class="text-end"> 
            <ul class="list-inline m-0">
               <li class="list-inline-item">
                 <a ><i class="bi bi-pencil"></i></a>
               </li>
               <li class="list-inline-item">
                 <a><i class="bi bi-card-list"></i></a>
               </li>
               <li class="list-inline-item">
                 <a><i class="bi bi-trash"></i></a>
               </li>
            </ul>
           </td>
      
  
    </tr>

    <tr>
      <th scope="row">4</th>
      <td>Llapashtic</td>
      
          <td class="text-end"> 
            <ul class="list-inline m-0">
               <li class="list-inline-item">
                 <a ><i class="bi bi-pencil"></i></a>
               </li>
               <li class="list-inline-item">
                 <a><i class="bi bi-card-list"></i></a>
               </li>
               <li class="list-inline-item">
                 <a><i class="bi bi-trash"></i></a>
               </li>
            </ul>
           </td>
      
  
    </tr>
  </tbody>
</table>


</div>
</div>

                  </div>