@model ChangePasswordVM
@{
    Layout = "_DashboardLayout";
}

<div class="container-fluid row justify-content-center align-items-center pt-5 mt-5 klasa">
 
    <div class="col-12 card col-md-6 d-flex justify-content-center flex-column bg-light box-shadow ">
        <h4 class="text-center pt-5">Ndryshoni fjalëkalimin</h4>
        <form asp-action="ChangePassword" asp-controller="Dashboard" method="post">
            <div class="p-5 testt">
                 <div class="mb-3">
                    <label asp-for="CurrentPassword">Fjalëkalimi i tanishëm</label>
                    <div class="d-flex align-items-center">
                        <input asp-for="CurrentPassword" type="password" id="password" class="form-control " aria-describedby="emailHelp">
                        <i class="bi bi-eye-slash fs-5" id="togglePassword"></i>
                    </div>
                    <span asp-validation-for="CurrentPassword" class="text-danger mt-2" style="font-size:14px;"></span>
                  </div>
                 <div class="mb-3">
                    <label asp-for="NewPassword">Fjalëkalimi i ri</label>
                    <div class="d-flex align-items-center">
                        <input asp-for="NewPassword" type="password" class="form-control" id="password2" aria-describedby="emailHelp">
                        <i class="bi bi-eye-slash fs-5" id="togglePassword2"></i>
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger" style="font-size:14px;"></span>
                 </div>
                 <div class="mb-3" >
                    <label asp-for="ConfirmPassword">Konfirmo fjalëkalimin</label>
                    <div class="d-flex align-items-center">
                        <input asp-for="ConfirmPassword" type="password" id="password3" class="form-control" aria-describedby="emailHelp">
                        <i class="bi bi-eye-slash fs-5" id="togglePassword3"></i>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger" style="font-size:14px;"></span>
                 </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 w-100 py-0"> Ndrysho </button>
            </div>
        </form>
    </div>
</div>
<script src="~/js/security_stamp.js"></script>

<style>
        #togglePassword, #togglePassword2, #togglePassword3{
            margin-left: -30px;
            cursor: pointer;
        }
@@media screen and (max-width: 396px) {
    .testt{
        padding:0px!important;
    }
    .klasa{
        margin-left:0px !important;
        padding-top:5px !important;
        margin-bottom:5px !important;
    }
}

@@media screen and (max-width:502px) {
    .testt{
        padding:0px!important;
    }
    .klasa{
        margin-left:0px !important;
        padding-top:5px !important;
        margin-bottom:5px !important;
    }
}

@@media screen and (max-width:462px) {
    .testt{
        padding:0px!important;
    }
    .klasa{
        margin-left:0px !important;
        padding-top:5px !important;
        margin-bottom:5px !important;
    }
}

@@media screen and (max-width:425px) {
    .testt{
        padding:0px!important;
    }
    .klasa{
        margin-left:0px !important;
        padding-top:5px !important;
        margin-bottom:5px !important;
    }
}
</style>