@model ChangePasswordVM
@{
    Layout = "_DashboardLayout";
}

<div class="container-fluid row justify-content-center align-items-center pt-5 mt-5">
 
    <div class="col-12 card col-md-6 d-flex justify-content-center flex-column bg-light box-shadow ">
        <h4 class="text-center pt-5">Ndryshoni Fjalëkalimin</h4>
        <form asp-action="ChangePassword" asp-controller="Dashboard" method="post">
            <div class=" p-5">
                <div class="mb-3">
                    <input  type="hidden" class="form-control" aria-describedby="emailHelp">
                    <input type="hidden" class="form-control" aria-describedby="emailHelp">
                </div>
                 <div class="mb-3">
                    <label asp-for="CurrentPassword" class="form-label">Fjalëkalimi i tanishëm</label>
                    <input asp-for="CurrentPassword" type="password" class="form-control" aria-describedby="emailHelp">
                    <span asp-validation-for="CurrentPassword" class="text-danger mt-2"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NewPassword" class="form-label">Fjalëkalimi i ri</label>
                    <input asp-for="NewPassword" type="password" class="form-control" aria-describedby="emailHelp">
                    <span asp-validation-for="NewPassword" class="text-danger mt-2"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">Konfirmo fjalëkalimin</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" aria-describedby="emailHelp">
                    <span asp-validation-for="ConfirmPassword" class="text-danger mt-2"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 w-100 py-0"> Ndrysho </button>
            </div>
        </form>
    </div>
</div>
