
@{
     Layout = "_DashboardLayout";
}

<section class="section">
      <div class="row">
        <div class="col-lg-10">

           
              <div class="card">
                <div class="card-body p-5">

                    <form>

                        <div class="d-flex flex-row">

                             <button class="btn text-dark" type="button" id="button-addon1">
                                <i class="bi fs-5"></i>
                            </button>
                            <input type="text" class="form-control border-0" placeholder="Kërko sipas emrit dhe mbiemrit te kryefamiljarit"
                            aria-describedby="button-addon1" name="SearchPhrase">
                            <button type="submit" class="btn btn-primary text-white">Kërko</button>

                        </div>

                    </form>
            
                </div>
              </div>

            </div>
          </div>
 </section>
