@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager
@inject IOptionsSnapshot<Roles> _roles;
@{
    Layout = "_DashboardLayout";
    var roles = _roles.Value;
}
@model RegisterVM;
<div>
    <div class="card">
        <h4 class="text-center pt-4">
            Mirë se vini <strong>
                @((await
                    _userManager.FindByNameAsync(User.Identity.Name)).FullName)
            </strong>
        </h4>
        <hr />
        @if (User.IsInRole(roles.KryetarIPartise))
        {
            <div class="d-flex justify-content-around p-2 pt-2">
                <div class="pt-2">
                    <p>Zgjedhni qytetin për grafe:</p>
                </div>
                <div class="col-md-4 mb-2 pe-2">
                    <select class="form-select" id="munis" onchange="getId()" asp-for="Municipality">
                        <option disabled selected>Zgjedh qytetin..</option>
                    </select>
                </div>
            </div>
        }
    </div>
</div>
<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="city-nacinale"></h5>
                    <div id="columnChart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="city-lokale"></h5>
                    <div id="columnChart1"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole(roles.KryetarIPartise))
{
    @section Scripts { 
        <script src="~/js/municipalities.js"></script> 
        <script src="~/js/admin_graphs.js"></script> 
    }
}
else
{ 
    @section Scripts { 
        <script src="~/js/municipalities.js"></script> 
        <script src="~/js/muni_graphs.js"></script> 
    } 
}