@model PoliticalOfficalVM;
@{
    Layout = "_DashboardLayout";
}
<section class="section">
    <div class="row">
        <div class="card p-5">
            <h2 class="card-title ps-4">Përshkruar numrin e votuesëve dhe rezultateve nga KQZ</h2>
            <div class="d-flex flex-md-row flex-column">
                <div class="col-md-6">
                    <div class="card-body pt-2">
                        <form>
                            <div class="col-12 ">
                                <label>Qyteti</label>
                                <select class="form-select" asp-for="Municipality" id="munis">
                                    <option disabled selected>Zgjedh qytetin..</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label class="pt-4">Fshati</label>
                                <select class="form-select" asp-for="Village" id="villages">
                                    <option disabled selected>Zgjedh fshatin..</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label class="pt-4">Lagja</label>
                               <select class="form-select" asp-for="Neigborhood" id="neigborhoods">
                                    <option disabled selected>Zgjedh lagjen..</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label class="pt-4">Lloji i zgjedhjeve</label>
                                <select class="form-select" id="inputGroupSelect03">
                                    <option disabled selected>Zgjedh llojin e zgjedhjeve..</option>
                                    <option >Zgjedhjet Nacionale</option>
                                    <option >Zgjedhjet Lokale</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label class="pt-4" >Viti i zgjedhjeve</label>
                                <input type="date" id="year" class="form-control">
                                <span class="text-danger"></span>
                            </div>
                           @* <div class="col-12 pb-4">
                                <label class="pt-4">Qendra e vendvotimit</label>
                                <input id="poll" class="form-control">
                                <span class="text-danger"></span>
                            </div>*@
                              <div class="col-12 pb-4">
                                <label class="pt-4">Qendra e vendvotimit</label>
                                <select class="form-select" id="poll">
                                    <option disabled selected>Zgjedh qendren e zgjedhjeve..</option>
                                   
                                </select>
                            </div>
                            <button type="submit" id="main-div" class="btn btn-primary">Regjistro votimet</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 pt-5 ps-4">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Numri i votuesëve</th>
                                    <th scope="col">Total:<span id="span" class="float-end"></span></th>@*Me bo nje formule per me i mbledh te gjitha votat e partive politike*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="parti" value="1">VV</th>
                                    <td><input type="number" class="border-0 votat" /></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="parti" value="2">LDK</th>
                                    <td><input type="number" class="border-0 votat"  /></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="parti" value="3">PDK</th>
                                    <td><input type="number" class="border-0 votat" /></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="parti" value="4">AAK</th>
                                    <td><input type="number" class="border-0 votat" /></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="parti" value="5">AKR</th>
                                    <td><input type="number" class="border-0 votat" /></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="parti" value="6">Nisma</th>
                                    <td><input type="number" class="border-0 votat" /></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="parti" value="7">Partite serbe</th>
                                    <td><input type="number" class="border-0 votat" /></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="parti" value="8">Partite joserbe</th>
                                    <td><input type="number" class="border-0 votat" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
<script>
    const munis = document.querySelector('#munis');
    const villages = document.querySelector('#villages');
    const url = "https://localhost:7278/api/service/";
    const button = document.querySelector('#main-div');

    const votat = document.getElementsByClassName("votat");
    const year = document.getElementById('year');
    const poll = document.getElementById('poll');
    const span = document.getElementById('span');
    const parti = document.getElementsByClassName('parti');
    


    


    

    var shuma = 0;
    var input;
    var vlera;
   
	for(let i=0; i<votat.length; i++){
            
            votat[i].addEventListener('focus', e => {
                e.preventDefault();
                
              
                vlera = 0;
                
                if(votat[i].value !== '' ){
                  
                    vlera = parseInt(votat[i].value);

                  
                
                }
              
            });

			votat[i].addEventListener('blur', e => {
                e.preventDefault();

                input = parseInt(votat[i].value);
                //console.log("Inputi"+input);
               


                if(!isNaN(input)){
                    if (vlera!==0){
                        shuma = shuma - vlera;
                    }
                    shuma += input;
                    span.innerHTML = shuma;
                
                }
                else if(isNaN(input)){
                    shuma = shuma - vlera;
                    span.innerHTML = shuma;

                }
             });


    }

          
        
            
            
     

        
    getMunis();
    getPollCenter();
    
    
  
      function getPollCenter(id){

        poll.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh qendren...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        poll.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto qendren e re...";
        addOption.value = "shto";
        poll.appendChild(addOption);


        let endpoint = url + "getpollcenter";
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => {
            data.forEach(x => {
                let item = document.createElement("option");
                item.value = x.id;
                item.innerText = x.centerNumber;
                poll.appendChild(item);
            });
        });
        }

      poll.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addPollToDb();
        }
        
    });
   function addPollToDb(){
        let endpoint = url + "addpollcenter";
        let input = prompt("Shto Qendren e re:");
        //let selectedMuni = $('#munis').val();
        let sm = document.querySelector("#poll").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({ centerNumber: input,
                centerName: "", municipalitydId: munis.value})
        }).then(() => getPollCenter());

    }

 


    button.addEventListener('click', event => {
         //event.preventDefault();
         addDataToDb();
         alert("U Regjistrua!");

})



function addDataToDb() {
    let endpoint = url + "addkqzresult";
        //let endpoint1 = url + "getpoliticalsubjectbyname?name=" + parti[i].innerHTML;

    //let endpoint1 = url + "getpoliticalsubjectbyname?name="+
    

    const election = document.getElementById("inputGroupSelect03").value;
    const year = document.getElementById('year');
    const poll = document.getElementById('poll');
    const neighborhood = document.getElementById('neigborhoods').value
    const parti = document.getElementsByClassName("parti");
    const votat = document.getElementsByClassName("votat");
    //let endpoint1 = url + "getpoliticalsubjectbyname?name=" + parti[i].innerHTML;
 
  
    for (var i=1; i <= votat.length; i++) {
        //let endpoint1 = url + "getpoliticalsubjectbyname?name=" + parti[i].innerHTML;
        
   

        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({
                municipalityId: munis.value, villageId: villages.value, neighborhoodId: neighborhood,

                electionType: election, dataCreated: year.value, pollCenterId: poll.value, politicialSubjectId: i, noOfvotes: votat[i-1].value
            })
        });
        
    }
}

    

    munis.addEventListener('change', event => {
        addVillagesToList(event.target.value);
        addNeigborhoodToList(event.target.value);
        addBlockToList(event.target.value);
        addStreetToList(event.target.value);
        
    });

    villages.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addVillageToDb();
            addQendraVotimitToList(event.target.value);
        }
        else {
            addQendraVotimitToList(event.target.value);
        }
    });

     neigborhoods.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addNeigborhoodToDb();
        }
    });
    blocks.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addBlockToDb();
        }
    });
     streets.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addStreetToDb();
        }
    });
    function getMunis(id){
        let endpoint = url + "getmunis";
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => {
            data.forEach(x => {
                let item = document.createElement("option");
                item.value = x.id;
                item.innerText = x.name;
                munis.appendChild(item);
            });
        });
        }

    function addVillagesToList(muniId){
        villages.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh fshatin...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        villages.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto fshat te ri...";
        addOption.value = "shto";
        villages.appendChild(addOption);

        let endpoint = url + "getvillagesbymuni?muniid=" + muniId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            villages.appendChild(item);
        }));
    }

    function addVillageToDb(){
        let endpoint = url + "addvillage";
        let input = prompt("Shto fshatin e ri:");
        //let selectedMuni = $('#munis').val();
        let sm = document.querySelector("#munis").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({municipalityId: sm, villageName: input})
        }).then(() => addVillagesToList(sm));

    }
    //neigborhoods
    function addNeigborhoodToList(muniId){
        neigborhoods.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh lagjen...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        neigborhoods.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto lagjen e re...";
        addOption.value = "shto";
        neigborhoods.appendChild(addOption);

        let endpoint = url + "getneighborhoodsbymuni?muniid=" + muniId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            neigborhoods.appendChild(item);
        }));
    }

    function addNeigborhoodToDb(){
        let endpoint = url + "addneighborhood";
        let input = prompt("Shto lagjen e re:");
        let sm = document.querySelector("#munis").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({municipalityId: sm, neighborhoodName: input})
        }).then(() => addNeighborhoodsToList(sm));

    }

    //block
    function addBlockToList(muniId){
        blocks.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh bllokun...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        blocks.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto bllok të ri...";
        addOption.value = "shto";
        blocks.appendChild(addOption);

        let endpoint = url + "getblocksbymuni?muniid=" + muniId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            blocks.appendChild(item);
        }));
    }

    function addBlockToDb(){
        let endpoint = url + "addblock";
        let input = prompt("Shto bllok të ri:");
        let sm = document.querySelector("#munis").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({municipalityId: sm, blockName: input})
        }).then(() => addBlockToList(sm));

    }

    //street
    function addStreetToList(muniId){
        streets.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh rrugen...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        streets.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto rrugë te re...";
        addOption.value = "shto";
        streets.appendChild(addOption);

        let endpoint = url + "getstreetbymuni?muniid=" + muniId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            streets.appendChild(item);
        }));
    }

    function addStreetToDb(){
        let endpoint = url + "addstreet";
        let input = prompt("Shto rrugen e re:");
        let sm = document.querySelector("#munis").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({municipalityId: sm, streetName: input})
        }).then(() => addStreetToList(sm));

    }
</script>
}
