@{
    Layout = "_DashboardLayout";
}
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script src="html2pdf.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="btn float-end d-flex justify-content-end">
    <button type="button" class="btn btn-primary" onclick="ExportToExcel()"><span class="bi bi-file-excel"></span> Eksporto ne Excel</button> &nbsp   <button type="button" class="btn btn-primary" onclick="ExportToPdf()"><span class="bi bi-file-pdf"></span> Eksporto ne PDF</button>
</div>
<div class="card col-12 pe-auto">
    <div class="table table-responsive">
        <table class="table table-responsive table w-auto small table table-bordered"id="test">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Qyteti</th>
                    <th scope="col">Emri dhe Mbiemri</th>
                    <th scope="col">Numri i votuesve</th>
                    <th scope="col">Numri i telefonit</th>
                    <th scope="col">Qendra votimit</th>
                    <th scope="col">votues paraprak</th>
                    <th scope="col">votues i tanishem</th>
                    <th scope="col">Gjasat fillestare</th>
                    <th scope="col">Gjasat aktuale</th>
                    <th scope="col">Statusi aktual</th>
                    <th scope="col">Menaxho</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Prishtine</td>
                    <td>John Doe</td>
                    <td>37</td>
                    <td>000123123</td>
                    <td>1901</td>
                    <td>LDK</td>
                    <td>VV</td>
                    <td>70%</td>
                    <td>50%</td>
                    <td>Ne proces</td>
                    <td><a class="" asp-controller="Dashboard" asp-action="Reports">Edit<i class="fas fa-edit"></i></a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Viti</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Thornton</td>
                    <td><a class="" asp-controller="Dashboard" asp-action="Reports">Edit<i class="fas fa-edit"></i></a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>twitter</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>test</td>
                    <td>Thornton</td>
                    <td><a class="" asp-controller="Dashboard" asp-action="Reports">Edit<i class="fas fa-edit"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    function ExportToExcel(type, fn, dl) {
           var elt = document.getElementById('test');
           var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
           return dl ?
             XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
             XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
        }
       function ExportToPdf() {
            html2canvas(document.getElementById('test'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Table.pdf");
                }
            });
        }
</script>

