@{
    Layout = "_DashboardLayout";
}
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<h3>Menaxho</h3>
<div class="card"style="font-family: 'Montserrat';">
    <div class="d-flex justify-content-around">
        <div>
            <p>Te dhenat nga regjistrimi</p>

            <table class="table w-auto small">

                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Emri dhe Mbiemri</th>
                        <th scope="col">Numri Votuesve</th>
                        <th scope="col">Votues Paraprak</th>
                        <th scope="col">Gjasat Fillestare</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Filan Fisteku</td>
                        <td>1204</td>
                        <td>LDK</td>
                        <td>25%</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Hasan Fisteku</td>
                        <td>3204</td>
                        <td>VV</td>
                        <td>75%</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <p>Evidento Ndryshimet me te dhenat e reja</p>

            <table class="table w-auto small">

                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">
                           Votues i Tanishem
                        </th>
                        <th scope="col">
                            Gjasat Aktuale
                        </th>
                        <th scope="col">
                            Statusi Aktual
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <div class="dropdown">
                                <div id="menu1" data-toggle="dropdown">
                                    Votues i Tashem
                                    <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">VV</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">LDK</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PDK</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                                </ul>
                            </div>
                        </td>
                        <td> <div class="dropdown">
                                <div id="menu1" data-toggle="dropdown">
                                    Gjasat Aktuale
                                    <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">0%</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">50%</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100%</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                                </ul>
                            </div></td>
                        <td><div class="dropdown">
                                <div id="menu1" data-toggle="dropdown">
                                    Statusi Aktual
                                    <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ne Proces</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Perfunduar</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">TO DO</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                                </ul>
                            </div></td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>
                            <div class="dropdown">
                                <div id="menu1" data-toggle="dropdown">
                                    Votues i Tashem
                                    <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">VV</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">LDK</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PDK</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                                </ul>
                            </div>
                        </td>
                        <td> <div class="dropdown">
                                <div id="menu1" data-toggle="dropdown">
                                    Gjasat Aktuale
                                    <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">0%</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">50%</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100%</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                                </ul>
                            </div></td>
                        <td><div class="dropdown">
                                <div id="menu1" data-toggle="dropdown">
                                    Statusi Aktual
                                    <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ne Proces</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Perfunduar</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">TO DO</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                                </ul>
                            </div></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mb-2 ml-5">
        <label for="exampleFormControlTextarea1" class="form-label">Pershkruaj gjendjen ekzistuese dhe mundesit ose barrierat e suksesit</label>
        <textarea class="form-control ml-4" id="exampleFormControlTextarea1" rows="3"></textarea>

    </div>
    <div class="d-flex justify-content-end mb-2 mt-2 p-2">

        <button type="button" class="btn btn-dark">Anulo</button>&nbsp;&nbsp;<button type="button" class="btn btn-primary">Ruaj dhe Mbyll</button>
    </div>



</div>