@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Register</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />

    @*Bootstrap Icons*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    @*Google Fonts - Montserrat *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "pt-5">
        <div class="container d-flex justify-content-center text-center pt-5 pb-4">
            <img src="~/images/ConfirmedEmail.svg" class="d-block img-fluid rounded" alt="EmailConfirmed image" style="height:450px" loading="lazy">
        </div>
        <div class="container d-flex justify-content-center text-center flex-column pt-5">
            <h2>Llogaria juaj është konfirmuar!</h2>
        </div>
        <div class="container d-flex justify-content-center text-center pt-4">
            <a class="btn btn-primary text-white fw-bold col-6 col-sm-5 col-md-3 col-lg-2 py-2" asp-controller="Home" asp-action="Index">KYÇU</a>
        </div>
    </div>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>