@media(max-width: 320px) {
    /*font-size: 10px*/
    #noHover {
        pointer-events: none !important;
    }

    li a {
        color: black;
        cursor: pointer;
    }

    li {
        margin-right: 24px;
    }

    .navbar {
        margin-left: 27px;
    }

    .testli {
        font-size: 10px !important;
    }

    .toggle-vis {
        display: flex;
        justify-content: center;
    }

    .btnwidth {
        width: 100% !important;
    }
    

    .butonipdf {
        background-color: #2A7EEC;
        color: white !important;
        font-weight: 200 !important;
    }

    .butonixls {
        background-color: #2A7EEC;
        color: white !important;
        font-weight: 200 !important;
    }

    .butonitoggle {
        background-color: #2A7EEC;
        color: white !important;
        font-weight: 200 !important;
    }
}

@media only screen and (max-width: 765px) {
    #noHover {
        pointer-events: none !important;
    }

    li a {
        color: black;
        cursor: pointer;
    }

    li {
        margin-right: 24px;
    }

    .navbar {
        margin-left: 27px;
    }

    .toggle-vis {
        display: flex;
        justify-content: center;
    }

    .btnwidth {
        width: 100%;
    }

    .butonipdf {
        background-color: #2A7EEC;
        color: white !important;
        font-weight: 200 !important;
    }

    .butonixls {
        background-color: #2A7EEC;
        color: white !important;
        font-weight: 200 !important;
    }

    .butonitoggle {
        background-color: #2A7EEC;
        color: white !important;
        font-weight: 200 !important;
    }
}

@media only screen and (min-width: 775px) {
    .testing {
        display: flex !important;
        justify-content: end !important;
    }

    .butonixls {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px 0px;
        cursor: pointer;
        color: white !important;
    }

    .butonipdf {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px 0px;
        cursor: pointer;
        color: white !important;
    }

    .butonitoggle {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px 0px;
        cursor: pointer;
        color: white !important;
    }

    td {
        text-align: center;
        vertical-align: middle;
    }

    .ultest {
        width: 97%;
        text-align: center;
    }

    li a {
        color: black;
        cursor: pointer;
    }
    
}

@media screen and (max-width: 1800px) {
    #testManuali {
        max-width: 70%;
    }
}

@media screen and (max-width: 600px) {
    #testManuali {
        max-width: 100%;
    }
}
