#klasa1:hover {
    cursor: pointer;
}

#klasa2:hover {
    cursor: pointer;
}

#klasa1 {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

#klasa2 {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.ttest {
    background-color: #ffffff;
}

.c {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.test {
    background-color: #0d6efd;
}

    .test:hover {
        background-color: #0b5ed7;
    }

.swal-button--catch:hover {
    background-color: #0d6efd;
}

.swal-button:not([disabled]):hover {
    background-color: #0b5ed7;
}

.swal-button--cancel {
    background-color: #dc3545;
    color: white;
}

    .swal-button--cancel:not([disabled]):hover {
        background-color: #bb2d3b;
    }

.swal-content__input:focus {
    border-color: #ced4da;
    border-bottom: 3px solid #ced4da;
}

.swal-text {
    font-weight: 500;
    font-size: 20px;
}

.swal-button--confirm {
    background-color: #0d6efd;
}
@media screen and (max-width:620px) {
    .divi {
        display: flex;
        flex-direction: column !important;
    }

    .zgjedhje {
        width: 100%;
    }

    .data {
        width: 100%;
    }

    .politika {
        width: 100%;
    }
}


@media screen and (max-width:502px) {
    .button-responsive {
        font-size: 14px;
    }

    .btnanulo {
        font-size: 14px;
    }

    .partyNumber {
        font-size: 10px;
        -o-object-fit: fill;
    }
}

@media screen and (max-width:483px) {
    .button-responsive {
        font-size: 12px;
    }

    .btnanulo {
        font-size: 12px;
    }
}

    @media screen and (max-width:462px) {
        .button-responsive {
            font-size: 12px;
        }

        .btnanulo {
            font-size: 12px;
        }

        .partyNumber {
            font-size: 10px;
            -o-object-fit: fill;
        }
    }


@media screen and (max-width:425px) {
    .button-responsive {
        font-size: 10px;
    }

    .btnanulo {
        font-size: 10px;
    }

    .partyNumber {
        font-size: 10px;
        -o-object-fit: fill;
    }
}

@media screen and (max-width:393px) {
    .tabs {
        font-size: 16px;
    }

    .partyNumber {
        font-size: 10px;
        -o-object-fit: fill;
    }
}

@media screen and (max-width:320px) {
    .button-responsive {
        font-size: 8px;
    }

    .btnanulo {
        font-size: 8px;
    }


    .tabs {
        font-size: 10px;
    }

    a {
        font-size: 10px;
    }

    input::placeholder {
        font-size: 10px;
    }

    .option-select {
        font-size: 10px;
    }

    .partyNumber {
        font-size: 10px;
        -o-object-fit: fill;
    }
}

@media screen and (max-width:377px) {
    .button-responsive {
        font-size: 8px;
    }

    .btnanulo {
        font-size: 8px;
    }

    .tabs {
        font-size: 12px;
    }

    input::placeholder {
        font-size: 13px;
    }

    .option-select {
        font-size: 13px;
    }

    .partyNumber {
        font-size: 10px;
        -o-object-fit: fill;
    }
}