@media screen and (max-width: 396px) {
    .button-responsive {
        font-size: 10px;
    }
    .prefix{
        font-size:8px!important;
        width:25%!important;
    }
}
@media screen and (max-width:502px) {
    .button-responsive {
        font-size: 14px;
        width: 100%;
    }
}
@media screen and (max-width:462px) {
    .button-responsive {
        font-size: 12px;
        width: 100%;
    }
}
@media screen and (max-width:425px) {
    .button-responsive {
        font-size: 10px;
        width: 100%;
    }
}

