
<div class="container-fluid row justify-content-center align-items-center pt-5 mt-5">
    <div class="col-6 d-none d-md-block text-center ">
        <img src="/assets/harta2.svg" class="harta img-fluid " style="min-width:190px; max-width:450px;">
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center flex-column bg-light box-shadow ">
        <h4 class="text-center pt-5">Gjeje llogarinë tuaj</h4>
        <form>
            <div class="p-5 mb-3">
                <h4>Çka është E-Register?</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>

                <h4>Per çka përdoret E-Register?</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>

        </form>
    </div>
</div>