
<div class="container-fluid row justify-content-center align-items-center pt-5 mt-5 macstyle"style="padding-bottom:171px;">
    <div class="col-6 d-none d-md-block text-center ">
        <img src="/images/hartaRrethNesh.svg" class="harta img-fluid " style="min-width:190px; max-width:450px;">
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center flex-column bg-light box-shadow ">
        <h4 class="text-center pt-5">Rreth nesh!</h4>
        <form>
            <div class="p-5 mb-3" style = "padding-top:40px;">
                <p>
                    E-Vota është krijuar me qëllimin që të lehtësoj punën e partive politike dhe të menaxhoj punen e tyre para ditëve te zgjedhjes!
                </p>
                <h6>Misioni</h6>
                <p>Thjeshtimi i kompleksitetit dhe ofrimi i zgjidhjeve inovative për problemet kritike dhe optimizimin e biznesit.</p>
               <h6>Kontakti</h6>
                <p>eregister@gmail.com </p>
            </div>
        </form>
    </div>
</div>
<style>
     @@media screen and (max-width:1280px) {
    .macstyle{
       /* margin-top:2px !important;*/
       padding-top:65px !important;
       padding-bottom:25px !important;

    }
}
</style>