<div class=" w-100 d-inline-flex justify-content-around align-items-center">
	<div class="w-50 p-3">
		<img src="/assets/harta.png" class="w-100">
	</div>
	<div class=" w-50 p-5 mx-5 text-secondary">
		<h4 class="text-left text-secondary">Rreth E-Register</h4>
		
		<div class=" p-4 bg-light shadow-sm "> 
			<h4>Qka eshte E-Register?</h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
			when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			It has survived not only five centuries, but also the leap into electronic typesetting,
			remaining essentially unchanged. It was popularised in the 1960s with the release of
			Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
			software like Aldus PageMaker including versions of Lorem Ipsum.</p>

			<h4>Per qka perdoret E-Register?</h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
			when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			It has survived not only five centuries, but also the leap into electronic typesetting,
			remaining essentially unchanged. It was popularised in the 1960s with the release of
			Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
			software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
	</div>


</div>