
<div class="container-fluid row justify-content-center align-items-center pt-5 mt-5">
    <div class="col-6 d-none d-md-block text-center ">
        <img src="/images/harta2.svg" class="harta img-fluid " style="min-width:190px; max-width:450px;">
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center flex-column bg-light box-shadow ">
        <h4 class="text-center pt-5">Rreth nesh!</h4>
        <form>
            <div class="p-5 mb-3">
                <p>
                    PBC njihet si kompania me përvojën më të madhe me institucionet vendore dhe ndërkombëtare në Kosovë dhe rajon. Konkurrueshmëria dhe kreativiteti për të thjeshtuar dhe optimizuar edhe zgjidhjet më komplekse ka qenë dhe mbetet ura lidhëse me klientët tanë. Dhe ne jemi krenarë për këtë.
                    Me poshte mund te gjeni disa nga sherbimet tona.
                </p>
                <h6>Vizioni</h6>
                <p>
                    Ofruesi i zgjidhjeve më të fundit.
                </p>
                <h6>Misioni</h6>
                <p>Thjeshtimi i kompleksitetit dhe ofrimi i zgjidhjeve inovative për problemet kritike dhe optimizimin e biznesit.</p>
                <h6>Vlerat</h6>
                <p>Integriteti, Ndershmëria, Përgjegjshmëria, Përulësia, Cilësia, Thjeshtësia, Përgjegjësia Sociale</p>

            </div>

        </form>
    </div>
</div>