@model ChangePasswordImmediatelyVM;

<div class="container-fluid row justify-content-center align-items-center pt-5">
    <div class="col-12 col-md-5 d-flex justify-content-center flex-column bg-light box-shadow pt-4" style="padding-top:50px;">
        <form asp-action="ChangePassword" asp-controller="Home" method="post">
            <div class="">
                <div class="pb-4">
                    <h4 class="pt-5">Ndryshoni fjalëkalimin tuaj!</h4>
                    <p>Ju lutem jepni fjalëkalimin e ri që të mund të qaseni në e-Vota, kjo është për arsyje sigurie dhe vetëm për herën e parë, për hyrje tjera përdorni fjalëkalimin që ju do të vendosni!</p>

                </div>
                
                <div class="mb-3">
                    <label asp-for="NewPassword" class="form-label">Fjalëkalimi i ri</label>
                    <div class="d-flex">

                        <input asp-for="NewPassword" type="password" id="newPassword" class="form-control" aria-describedby="emailHelp">
                        <i class="bi bi-eye-slash fs-5" id="newTogglePassword"></i>
                    </div>

                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">Konfirmo fjalëkalimin</label>
                    <div class="d-flex">
                        <input asp-for="ConfirmPassword" type="password" id="confirmPassword" class="form-control" aria-describedby="emailHelp">
                        <i class="bi bi-eye-slash fs-5" id="confirmTogglePassword"></i>

                    </div>
                </div>
                <div>
                    @if (ViewBag.PassDoesntMatch == true)
                    {
                        <p class="text-danger">Fjalëkalimi nuk perputhet.</p>
                    }
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 w-100 py-0">Ndrysho fjalëkalimin</button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/secutiry_stap_ResetPassword.js" asp-append-version="true"></script>
<style>
    #newTogglePassword, #confirmTogglePassword {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: -30px;
        cursor: pointer;
    }
</style>
