

<div class=" w-100 d-inline-flex justify-content-around align-items-center">
	<div class="w-50 p-3 text-center">
		<img src="/assets/harta.png" class=" w-100 img-fluid">
	</div>
	<div class=" w-50 p-5  mx-5 bg-light shadow-sm">
		<h4 class="text-center">Gjeje Llogarin Tuaj</h4>
		<form>
			<div class="mt-5">
			<label for="exampleInputEmail1" class="form-label">Email ose Numer Telefonit</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
			<button type="button" class="btn btn-primary btn-lg btn-block mt-3 w-100 py-0">GJEJE</button>

			</div>
		</form>
	</div>


</div>

