 @model EmailVM;


<div class="divmargin container-fluid row justify-content-center align-items-center pt-5 mt-5 paddingnone macstyle" style="height: 78vh;">
    <div class="col-6 d-none d-md-block text-center ">
        <img src="/images/harta.svg" class="harta img-fluid " style="min-width:190px; max-width:450px;">
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center flex-column bg-light box-shadow " >
        @if (Model?.IsEmailSent == true)
        {
            <div class="row align-center justify-content-center">
                <h6 class="text-primary text-center p-3 fs-2 ">Sapo i'u dërguam shtegun për rikrijimin e fjalëkalimit! </h6>
                <h6 class="text-primary text-center p-3 fs-2 ">Ju lutemi kontrolloni adresën elektronike me të cilën i'u është hapur llogaria në e-Vota! </h6>
                <img src="~/images/email_sent.svg" class="w-50">
            </div>
        }
        else
        {
        <h4 class="txt text-center pt-5">Gjeni llogarinë tuaj</h4>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
			<div class=" p-5 findacc">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email Adresa</label>
                        <input type="email" asp-for="Email" class="form-control font-mobile " aria-describedby="emailHelp">
                        <span asp-validation-for="Email" class="text-center"></span>
                    </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 w-100 py-0 font-mobile">VAZHDO</button>
			</div>
		</form>
        }
    </div>
</div>
<style>
@@media screen and (max-width: 396px) {
    .findacc{
        padding:0px !important;
       
    }
    .divmargin{
         margin-left:0px !important;
        margin-right:0px !important;
        padding-bottom: 265px !important;
    }
    .txt{
        padding-bottom:25px !important;
    }
}

@@media screen and (max-width:502px) {
   .findacc{
        padding:0px !important;
       
    }
    .divmargin{
         margin-left:0px !important;
        margin-right:0px !important;
        padding-bottom: 265px !important;
    }
     .txt{
        padding-bottom:25px !important;
    }
}

@@media screen and (max-width:462px) {
    .findacc{
        padding:0px !important;
       
    }
    .divmargin{
         margin-left:0px !important;
        margin-right:0px !important;
        padding-bottom: 265px !important;
    }
     .txt{
        padding-bottom:25px !important;
    }
    .font-mobile{
        font-size:16px;
        padding-top:7px !important;
        padding-bottom:7px !important;
    }
    .paddingnone{
        padding-right:0px !important;
        padding-left:0px !important;

    }
}

@@media screen and (max-width:425px) {
    .findacc{
        padding:0px !important;
       
    }
    .divmargin{
         margin-left:0px !important;
        margin-right:0px !important;
        padding-bottom: 265px !important;
    }
     .txt{
        padding-bottom:25px !important;
    }
}
@@media screen and (max-width:1280px) {
    .divmargin{
        margin-top:40px !important;
    }
    .macstyle{
       /* margin-top:2px !important;*/
       padding-top:25px !important;
       padding-bottom:35px !important;

    }
}
</Style>