 <link rel="stylesheet" href="~/css/forgot.css" type="text/css"/>

<div class=" w-100 d-inline-flex justify-content-around align-items-center">
	<div class="w-50 p-3">
		<img src="/assets/harta.svg" class="w-100">
	</div>
	<div class=" w-50 p-5 border rounded mx-5 bg-secondary">
		<h4 class="text-center">Gjeje Llogarin Tuaj</h4>
		<form>
			<div class="mt-5">
			<label for="exampleInputEmail1" class="form-label">Email ose Numer Telefonit</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
			<button type="button" class="btn btn-primary btn-lg btn-block mt-3 w-100 py-0">GJEJE</button>

			</div>
		</form>
	</div>


</div>

