@using Application.ViewModels

@model LoginVM
<link rel="stylesheet" href="~/cssViews/HomeIndex.css">
﻿
<div class="homeindex row justify-content-center align-items-center pb-5 pt-5 mxt-5" style="height: 70vh; margin-left:0px;margin-right:0px">
    <div class="col-6 d-none d-md-block text-center ">
        <img src="/images/harta.svg" class="harta img-fluid " alt="Harta" style="min-width:190px; max-width:450px;">
    </div>
    <div class="col-md-6 d-flex justify-content-center flex-column px-0 mx-0 box-shadow mobileb inputform">
        <h4 class="text-center pt-5">KYÇU</h4>
        <form class="ml-5" asp-controller="Home" asp-action="Index" method="post">

            <div class="p-5 ml-4 responziveMobile">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email adresa juaj</label>
                    <input type="email" class="form-control font-mobile" asp-for="Email" aria-describedby="emailHelp">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                    
                <div >
                    <label asp-for="Password" class="form-label">Fjalëkalimi</label>
                    <div class="d-flex align-items-center">
                        <input asp-for="Password" type="password" class="form-control font-mobile" id="password"  aria-describedby="passwordHelp">
                        <i class="bi bi-eye-slash fs-5" id="togglePassword"></i>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>

                </div>
                @if (ViewBag.NotAuth == true)
                {
                    if (ViewBag.NotConfirmed == true)
                    {
                        <span class="text-danger">Ju lutemi konfirmoni llogarinë tuaj!</span>
                    }
                    <span class="text-danger">Kredencialet e gabuara</span>
                }
                
                <div class="d-flex form-check mt-2 ml-20 mr-20 justify-content-between">
                    <div class="">
                        <label  asp-for="RememberMe"class="rememberme form-check-label pr-3 mr-3">
                            Më mbaj mend
                        <input asp-for="RememberMe" class="form-check-input">
                            <span asp-validation-for="RememberMe" class="text-danger"></span>
                        </label>
                    </div>
                    <div class="forgetpassword">
                        <a style="float:right;text-decoration:none;" class="forgotpass" asp-controller="Home" asp-action="Forgot">Keni harruar fjalëkalimin?</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-3 w-100 py-0 p-2 font-mobilekyqu">Kyçu</button>

            </div>
        </form>
    </div>
</div>
<script src="~/js/security_stamp.js"></script>
<style>
    #togglePassword{
        margin-left: -30px;
        cursor: pointer;
    }
    @@media screen and (max-width:550px) {
        .test {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            width: 100% !important;
        }
        .responziveMobile{
            padding:10px !important;
        }
        .font-mobile{
            font-size:16px;
            padding-top:9px !important;
            padding-bottom:9px !important;

        }

        .font-mobilekyqu {
            font-size: 16px;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }
    }

    @@media screen and (max-width: 1800px) {
        #testManuali {
            max-width: 70%;
        }
    }

    @@media screen and (max-width: 600px) {
        #testManuali {
            max-width: 100%;
        }
    }
    @@media screen and (max-width:1240px) {
    .homeindex{
       /* margin-top:2px !important;*/
       padding-top:1px !important;
       padding-bottom:1px !important;

    }
}
</style>

