@{
     Layout = "_DashboardLayout";
}

<section class="section">
      <div class="row">
        <div class="col-lg-10">

           
              <div class="card">
                <div class="card-body p-5">

                    <form>
                       <div class="form-group pb-3">
                        <label for="InputRole">Shto arsye </label>
                        <input type="text" class="form-control" id="ArsyejaPercaktuese">
                      </div>

                      <button type="submit" class="btn btn-primary">Shto </button>
                    </form>
            
                </div>
              </div>

            </div>
          </div>
    </section>
