@model VoterDetailsVM
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager;
@inject IUnitOfWork _unitOfWork;
@inject IOptionsSnapshot<Roles> _roles;
@{
    Layout = "_DashboardLayout";
    var userId = await _userManager.FindByNameAsync(User.Identity.Name);
    var userMuniId = await _unitOfWork.ApplicationUser.GetMunicipalityIdOfUser(userId.Id);
    var userVillageId = await _unitOfWork.ApplicationUser.GetVillageIdOfUser((userId.Id));
    var roles = _roles.Value;
    var userRole = User.Identities.FirstOrDefault().Claims.Select(x => x.Value).Skip(4).Take(1).FirstOrDefault();

}
 @if (User.IsInRole(roles.KryetarIFshatit))
{
    @if (!ViewBag.HasPasswordChange)
    {
        <div class="modal fade hide" id="change-password" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title text-center" id="exampleModalLongTitle">Ndrysho fjalëkalimin</h5>
                    </div>
                    <div class="modal-body">
                        <div class="text-align-center justify-content-center pt-2 ">
                            <div class="col-12">
                                <div class="pb-2">
                                    <form>
                                         <div class="mb-3">
                                            <label for="NewPassword" class="form-label">Fjalëkalimi i ri</label>
                                            <div class="d-flex align-items-center">
                                                <input for="NewPassword" id="newPassword" type="password" class="form-control" aria-describedby="emailHelp">
                                                <i class="bi bi-eye-slash fs-5" id="newTogglePassword"></i>
                                            </div>
                                          
                                        </div>
                                        <div class="mb-3">
                                            <label for="ConfirmPassword" class="form-label">Konfirmo fjalëkalimin</label>
                                           <div class="d-flex align-items-center">
                                                <input for="ConfirmPassword" id="confirmPassword" type="password" class="form-control" aria-describedby="emailHelp">
                                              <i class="bi bi-eye-slash fs-5" id="confirmTogglePassword"></i>

                                           </div>
                                            <small id="response-text" class="text-danger"></small>
                                        </div>
                                        <div class="pb-2">
                                            <button type="submit" id="change-password" class="btn btn-primary btn-lg btn-block mt-3 w-100 py-0 "> Ndrysho </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}
<link rel="stylesheet" href="~/cssViews/CrmIndex.css">
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                @if (User.IsInRole(roles.KryetarIPartise))
                {
                    <div class="ps-3"><partial name="_ManualiAdminCrmPartial"></partial></div>
                }
                @if (User.IsInRole(roles.KryetarIKomunes))
                {
                    <div class="ps-3"> <partial name="_ManualiKryetarKomunesCrmPartial"> </partial> </div>
                }
                @if (User.IsInRole(roles.KryetarIFshatit))
                {
                    <div class="ps-3"> <partial name="_ManualiKryetarFshatitCrmPartial"> </partial> </div>
                }
                <div class="ps-3 pe-3">
                    <div class="row justify-content-between flex-sm-row flex-md-row flex-column">
                        <div class=' aa col-sm-10 pt-4 pb-4'>
                            <input type="text" class=" form-control border-2" placeholder="Kërko sipas emrit dhe mbiemrit të kryefamiljarit"
                                   aria-describedby="button-addon1" id="SearchBtn">
                        </div>
                        <div class="col-sm-2 mb-3 pt-4 pb-2">
                            <button class="btn btn-primary w-100 text-white test" id="butoni" onclick="SetVoters()">Kërko   </button>
                        </div>
                        @if (ViewBag.UserNull == "Nuk ka te dhena")
                        {
                            <div class="text-danger"> Nuk ka të dhëna për "@ViewBag.Name"!</div>
                        }

                    </div>
                    <style>
                        th {
                            font-weight: 580;
                        }
                    </style>
                    <div class="a" id="Tables">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/security_stamp_Crm.js"></script>
  <script src="~/js/change_password.js"></script>

<style>
   #newTogglePassword, #confirmTogglePassword {
    margin-left: -30px;
    cursor: pointer;
}

    @@media screen and (max-width: 1800px) {
        #testManuali {
            max-width: 70%;
        }
    }

    @@media screen and (max-width: 600px) {
        #testManuali {
            max-width: 100%;
        }
    }
</style>
@section Scripts
    {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function () {
            $("#SearchBtn").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Crm/AutoComplete/',
                        data: { "prefix": request.term, "id": @userMuniId, "role": "@userRole" },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#SearchBtn").val(i.item.val);
                },
                minLength: 1
            });
        });

        const input = document.getElementById('SearchBtn');
        input.addEventListener('keypress', event => {
            if (event.key == 'Enter') {
                document.getElementById('butoni').click();
            }
        })

        function SetVoters() {
            let name = $('#SearchBtn').val();
            let table = $("#Tables");
            $.ajax({
                url: "/Crm/Voters?name=" + name,
                type: "GET",
                data: {},
                success: function (data) {
                    table.empty(data)
                    table.append(data);
                    const SpecificDemand = document.querySelector('#inputGroupSelect03');
                    const SpecificReason = document.querySelector('#generaldemand');
                }
            });
        }
    </script>
    <style>
        @@media screen and (max-width:488px) {
            .test {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                width: 100% !important;
            }
        }

        @@media screen and (max-width: 1800px) {
            #testManuali {
                max-width: 70%;
            }
        }

        @@media screen and (max-width: 600px) {
            #testManuali {
                max-width: 100%;
            }
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/jquerycrm/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/jquerycrm/jquery-ui.js" asp-append-version="true"></script>
}
 