<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Register</title>
    <meta content="E-Register" name="description">
    <meta content="E-Register" name="keywords">
    <link rel="icon" href="images/e-registerlogo64.svg" />
    <link rel="apple-touch-icon" href="images/e-registerlogo128.svg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/cssViews/Layout.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
</head>
<body class="d-flex bg-light flex-column">
    <nav class="navbar navbar-expand-md navbar-light"style="
    padding-top: 0px;
    padding-bottom: 0px;
">
        <div class="container-fluid w-100">
            <a asp-controller="Home" asp-action="index" class="navbar-brand fw-semibold">
                <img src="~/images/E-Vota.svg" alt="brand logo" width="150px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-items-center text-center text-sm-center"
                 id="main-nav">
                <ul class="navbar-nav d-flex align-items-center justify-content-center">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link text-sm-center hover-link">
                            <h5>Ballina</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="AboutUs" class="nav-link text-sm-center hover-link">
                            <h5>Rreth nesh</h5>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="vh-80 w-100">
        <partial name="_Notifications" />
        @RenderBody()
    </div>
   

    <div class="container tablet">
        <hr />
        <footer class="text-center text-lg-start text-muted">


            <div class="h-100 text-center text-dark m-2 " style="background-color: rgba(248, 244, 246, 0.8);">
                © eVota 2022
            </div>

        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
