<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Presentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/Presentation.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    

</head>
<body class="d-flex flex-column">

    <header>
        <nav class="px-3 navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between">
                <div class="width50">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="w-100" src="~/images/ERegisterLogo.png" /></a>
                </div>
                <div class="">
                    <ul class="list-unstyled m-0">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-grey fw-30 fs-5 fw-800 pointer-event">Rreth Nesh</a>
                        </li>
                    </ul>
                    @*<partial name="_LoginPartial" />*@
                </div>
            </div>
        </nav>
    </header>
            @RenderBody()
<footer class="mt-auto box-shadow mb-3">
    <div class="mt-auto border-top footer text-muted d-flex justify-content-center pb-0 pt-3">
        <div class="container row w-100">

            <div class="col-md-3">
                <img class="img-fluid" src="~/images/ERegisterLogo.png" />
            </div>

            <div class="col-md-2">
                <div id="header-div">
                    <h1 class="lead">ADRESA</h1>
                </div>
                <hr class="mt-0 mb-2" />
                <ul class="list-unstyled m-0 ulclass">
                    <li class="footer-link">aaaaaaaa</li>
                    <li class="footer-link">aaaaaaaa</li>
                    <li class="footer-link">aaaaaaaa</li>
                </ul>
            </div>
            <div class="col-md-2">
                <div id="header-div">
                    <h1 class="lead">ADRESA</h1>
                </div>
                <hr class="mt-0 mb-2" />
                <ul class="list-unstyled m-0 ulclass">
                    <li class="footer-link">aaaaaaaa</li>
                    <li class="footer-link">aaaaaaaa</li>
                    <li class="footer-link">aaaaaaaa</li>
                </ul>
            </div>

            <div class="col-md-5">
                <div id="header-div">
                    <h1 class="lead">ADRESA</h1>
                </div>
                <hr class="mt-0 mb-2" />
                <div class="list-unstyled m-0 ulclass">
                    <p class="footer-link">aaaaaaaa</p>
                    <p class="footer-link">aaaaaaaa</p>
                    <div class="input-group mb-3">
                          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                         <div class="input-group-append">
                           <button class="btn btn-primary" type="button">Button</button>
                         </div>
                   </div>
               </div>
               </div>
               
           
            <hr />
            <p> <i>©eRegister 2022</i></p>
        
     
 </footer>

     
           

    @{
 <style>
    .width50{
        width: 150px;
    }
 </style>
}
    <div class="vh-100">@RenderBody()</div>
            
<div class="container">
	<footer class="py-5">
	  <div class="row ps-6">

		<div class="col-6 col-md-2 mb-3">
		  <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img style="width:125px" src="~/images/ERegisterLogo.png" /></a>
		 
		</div>

		<div class="col-6 col-md-2 mb-3">
		  <h5 class="mb-2">ADRESA</h5>
		  <ul class="nav flex-column">
			<li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Keas 69 Str</a></li>
			<li class="nav-item mb-2"><a  class="nav-link p-0 text-muted" >15234,chalandri</a></li>
			<li class="nav-item mb-2"><a class="nav-link p-0 text-muted" >Prishtinë, Kosovë</a></li>
		  </ul>
		</div>

		<div class="col-6 col-md-2 mb-3">
		  <h5 class="mb-2">Kontakti</h5>
		  <ul class="nav flex-column">
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">e-register@info.com</a></li>
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">+383 (0) 49 123-123</a></li>
			<li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">+383 (0) 38 123-123</a></li>
		  </ul>
		</div>

		<div class="col-md-4 mb-3 offset-md-1">
		  <form>
			<h5>SUBSCRIBE</h5>
			<p>Do merrni informata per gjera te reja</p>
			<div class="d-flex flex-column flex-sm-row w-100 gap-2">
			  <label for="newsletter1" class="visually-hidden">Email address</label>
			  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
			  <button class="btn btn-primary text-white" type="button">Subscribe</button>
			</div>
		  </form>
		</div>
	  </div>

	  <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center pt-2 border-top">
		<p>&copy; 2022 E-Register</p>
		
	  </div>
	</footer>
  </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
