

<div class="pt-2">
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered "style="max-width:65%!important">
            <div class="modal-content "style="160%" >
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Manuali - regjistro votues</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <img src="~/images/tedhenatpersonalevotuesi.png" id="tedhenatpersonalevotuesi" class="w-100" />
                    <p>
                        -Në rubriken<strong> “Facebook” </strong>, duhet të vendosni linkun e llogarisë së rrjetit social “Facebook” të votuesit,
                        -Në rubriken <strong>“Qyteti”</strong>, duhet patjetër të zgjidhni qytetin e votuesit, duke vazhduar me përzgjedhjen e një fshati, apo lagje të votuesit. Duhet të keni parasysh se duhet patjetër të zgjidhet një lagje e votuesit, edhe nëse votuesi i përket një fshati që nuk ka ndonjë lagje. Nëse ndonjë prej adresave të votuesit nuk është e regjistruar në listë, mund të shtoni adresa tjera në butonin “Shto+”.
                    </p>
                    <img src="~/images/TedhenatProfesionale.png"  class="w-100"/>
                    <p>
                        -Tek të dhënat profesionale caktoni vendin e punës,sektorin e punës si dhe detyren e votuesit, siç është paraqitur në figurën 10.
                    </p>
                    <img src="~/images/ShtoVotuesPartiake.png"  class="w-100"/>
                    <p>
                        -Rubrika <strong>“Numri i anëtarëve“ </strong> përcakton numrin e votuesve në atë familje, pra numri i anëtarëve më të drejtë vote.
                        -Rubrika <strong>”Gjasat e suksesit fillestar”</strong> percaktojn perqindjen se sa janë gjasat fillestare që votuesi të perkrahë partinë tuaj,
                        -Rubrika <strong>”Votues i tanishëm” </strong>specifikon se cilen parti e përkrah votuesi të cilin jeni duke e regjistruar,
                        -Rubrika <strong>”Qendra e votimit” </strong> përcakton qendren në të cilin votuesi ka votuar në zgjedhjet e kaluara të regjistruara nga KQZ. Në rast të ndryshimeve eventuale, tek lista e qendrave është opsioni “Shto+”, në të cilin  mund të shtojni një qënder të re, duke e ruajtur atë përmes butonit ”Ruaj”.
                    </p>
                </div>
                
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Lexo manualin per faqe tjera</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Manuali - dashboard</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Hide this modal and show the first with the button below.
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <div>

                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Kthehu mbrapa</button>
                    </div>
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">Lexo manualin per faqe tjera</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel3">Manuali - Crm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Hide this modal and show the first with the button below.
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Kthehu mbrapa</button>
                    </div>
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle4" data-bs-toggle="modal">Lexo manualin per faqe tjera</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel4" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title " id="exampleModalToggleLabel4">Manuali - Crm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <img src="~/images/addadmin.png" />
                <div class="modal-footer d-flex justify-content-between">
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">Kthehu mbrapa</button>
                    </div>
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle5" data-bs-toggle="modal">Lexo manualin per faqe tjera</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle5" aria-hidden="true" aria-labelledby="exampleModalToggleLabel5" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel5">Manuali - Crm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Hide this modal and show the first with the button below.
                </div>
                <div class="modal-footer">
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle4" data-bs-toggle="modal">Kthehu mbrapa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><i class="bi bi-info-circle"></i></button>
</div>