@*Modali Dashboard*@
<div class="pt-2">
   

    @*Modali CRM*@
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" id="testManuali">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">CRM</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body ">
                    <p>
                        Faqja CRM (Costumer Relationship Management) ju shërben për të mbushur formularin e pyetjeve për votuesin të cilësuar si kryefamiljari, i cili është regjistruar paraprakisht. Votuesin e kërkoni përmes emrit dhe mbiemrit.
                    </p>
                    <img src="~/images/SearchingCRMM.png" class="w-100" />
                    <p>
                        Të dhënat e votuesit shfaqen në tabelë si ne figurën me poshtë,
                    </p>
                    <img src="~/images/PollRelatedQuestions.png" class="w-100" />
                    <p>ndërsa formulari për plotësimin e pyetësorit të votuesit shfaqet postë tabeles.</p>
                    <img src=~/images/PollRelatedQuestions.png class="w-100">
                    <p>
                        -Në rubriken “Zgjedh/Shto arsyen që përcakton voten tuaj”  duhet të specifikoni një arsye që sipas votuesit është përcaktuese për voten e tyre,<br />
                        -Në rubriken “A mund ta menaxhoni personin” duhet të specifikoni nëse votuesin e përcaktuar mund të menaxhoni apo jo, pra a mund të keni ndikim tek ai për bindjet e tyre politike,<br />
                        -Në rubriken “Aktivitetet që planifikoni të ndërmerrni për të menaxhuar ndryshimin” duhet të shkruani aktivitetet që sipas jush mund të ndikojnë në ndryshimin e bindjeve politike të votuesit,<br />
                        -Në rubriken “A keni nevojë për ndihmë?” duhet të specifikoni nëse votuesi ka nevojë për ndihmë,<br />
                        -Në rubriken “Zgjedh/Shto ndihmën e nevojshme” rubrika duhet të plotësohet nese kerkesa paraprake është ”Po”, duke shtuar kështu ndihmen e caktuar nga votuesi,<br />
                        -Në rubriken “Pershkruani arsyeshmerinë e ndihmës së kërkuar dhe ndikim ne sukses” duhet përshkruar arsyjet për të cilat votuesi po kërkon ndihmën e caktuar, si dhe të përshkruani se sa ndikim do të kishte kjo ndihmë në bindjen politike të votuesit,<br />
                        Tek listat në formular ju duhet të klikoni njërin nga opsionet e caktuara. Nëse asnjë nga opsionet në listë nuk përmbush kërkesat tuaja, mund të perdorni opsionin “Shto+”, duke e ruajtur vlerën përmes butonit ”Ruaj”.
                    </p>
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-6">
                            <img src=~/images/Shto.png style="width:100%" />
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <br />
                    <p>
                        Në fund të pyetësorit janë tre butona,<br />
                        -Butoni “Anulo” i cili i anulon ndryshimet e bëra, <br />
                        -Butoni “Ruaj dhe hap” ruan ndryshimet dhe hap një faqe të re të CRM-it,<br />
                        -Butoni “Ruaj dhe mbyll” ruan ndryshimet dhe ju kthen në dashboard. <br />
                    </p>

                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">Vazhdo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Modali Performanca dhe Raporti*@
    <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel5" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" id="testManuali">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Përformanca dhe raporti</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" a ria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Në këtë faqe do të shfaqen të gjitha regjistrimet e votuesve më të dhënat e tyre.
                    </p>

                    <img src="~/images/VoterDatasPerformance.png" class="w-100" />
                    <p>
                        -Në fund të qdo rreshti është e paraqitur ikona “Menaxho”, përmes së cilës ofrohet mundësia për të edituar të dhënat e regjistruara.
                    </p>
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-6">
                            <img src=~/images/VotuesParaprak.png style="width:100%" />
                        </div>
                        <div class="col-3">
                        </div>
                    </div>

                    <p>
                        -Ne këtë tabelë janë paraqitur të dhënat paraprake,
                    </p>
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-6">
                            <img src="~/images/VotuesAktual.png" style="width:100%" />
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <p>
                        -Ndesa tabela shfaqur tabela me të dhënat e votuesve të cilat mund të editohen në rast te ndryshimeve eventuale,
                        <br />-Në rubriken “Votues i tanishem” mund të ndryshoni partinë,
                        <br />-Në rubriken “Gjasat aktuale”  mund të ndryshoni përqindjen e gjasave aktuale,
                        <br />-Në rubriken “Statusi aktual” mund të ndryshoni statusin aktual mbi menaxhimin e votuesit.
                    </p>
                    <p>
                        <br />
                        -Në pjesen lart tabelës gjëndën butonat “Shfaq/Largo kolonat nga lista”,"Eksporto në excel" dhe "Ekporto në pdf",
                        -”Eksporto në excel” i eksporton të dhënat e tabelës në excel,
                        <br />-”Exporto në pdf” i eksporton të dhënat e tabelës në pdf. <br />
                        -Ndërsa butoni “Shfaq/Largo kolonat nga lista” përdoret për të larguar apo shfaqur kolonat nga lista e  regjistrimeve të votuesve.
                    </p>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Kthehu mbrapa</button>
                    </div>
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle4" data-bs-toggle="modal">Vazhdo para</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Manuali Add Voter*@
    <div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel4" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered " id="testManuali">
            <div class="modal-content" style="160%">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Regjistro Votues</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="~/images/ShtoTeDhenatPersonaleVotuesi.png" id="tedhenatpersonalevotuesi" class="w-100" />
                    <p>
                        -Në rubriken “Facebook” , duhet të vendosni linkun e llogarisë së rrjetit social “Facebook” të votuesit,
                        -Në rubriken “Qyteti”, duhet patjetër të zgjidhni qytetin e votuesit, duke vazhduar me përzgjedhjen e një fshati, apo lagje të votuesit. Duhet të keni parasysh se duhet patjetër të zgjidhet një lagje e votuesit, edhe nëse votuesi i përket një fshati që nuk ka ndonjë lagje. Nëse ndonjë prej adresave të votuesit nuk është e regjistruar në listë, mund të shtoni adresa tjera në butonin “Shto+”.
                    </p>
                    <img src="~/images/TedhenatProfesionale.png" class="w-100" />
                    <p>
                        -Tek të dhënat profesionale caktoni vendin e punës,sektorin e punës si dhe detyren e votuesit, siç është paraqitur në figurën 10.
                    </p>
                    <img src="~/images/ShtoVotuesPartiake.png" class="w-100" />
                    <p>
                        -Rubrika “Numri i anëtarëve“  përcakton numrin e votuesve në atë familje, pra numri i anëtarëve më të drejtë vote.
                        -Rubrika ”Gjasat e suksesit fillestar” percaktojn perqindjen se sa janë gjasat fillestare që votuesi të perkrahë partinë tuaj,
                        -Rubrika ”Votues i tanishëm” specifikon se cilen parti e përkrah votuesi të cilin jeni duke e regjistruar,
                        -Rubrika ”Qendra e votimit” < përcakton qendren në të cilin votuesi ka votuar në zgjedhjet e kaluara të regjistruara nga KQZ. Në rast të ndryshimeve eventuale, tek lista e qendrave është opsioni “Shto+”, në të cilin  mund të shtojni një qënder të re, duke e ruajtur atë përmes butonit ”Ruaj”.
                    </p>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal">Kthehu mbrapa</button>
                    </div>
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle5" data-bs-toggle="modal">Vazhdo para</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Manuali Add Zyrtare*@
    <div class="modal fade" id="exampleModalToggle5" aria-hidden="true" aria-labelledby="exampleModalToggleLabel5" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered " id="testManuali"
            <div class="modal-content " style="160%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Regjistro Zyrtarë</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Në këtë faqe bëhen regjistrimet e zyrtarëve të subjektit politik, si dhe plotësohen rezultatet e KQZ për secilin prej lokacionëve ku regjistrohet një zyrtarë i ri.
                            Ju si zyrtarë komunal duhet te regjistroni zyrtarë në nivel fshatrash apo zyrtarë të thjeshtë.

                            Në këtë dritare kemi dy butona
                            Regjistro zyrtarë- bën regjistrimin e zyrtarëve të rinj,
                            Rezultatet e KQZ - bën regjistrimin e rezultatëve të KQZ nga zgjedhjet e kaluara.


                        </p>
                        <img src=~/images/zyrtaripersonaltedhenat.png class="w-100" />
                        <p>
                            -Plotësohen të dhënat personale duke caktuar adresen e zyrtarit të cilin jemi duke e regjistuar, në këtë menyrë sipas adresave të caktuara, përcaktojme se në cilin lokacion do të ndërveproi zyrtari përkates.
                            -Duhet të keni parasysh se nuk mund të ruhet një zyrtarë nëse adresat nuk janë të plotësuara si duhet. Nëse votuesi i përket një fshati të caktuar, duhet ti caktohet edhe lagja,  ndërsa në rastet kur fshati nuk ka lagje, lagjen e caktojmë “qender”.
                        </p>
                        <img src="~/images/Zyrtaripartiake.png" class="w-100" />
                        <p>
                            -Tek “Pozita në parti”, caktohet roli i zyrtarit të cilin jemi duke e regjistruar,
                            -Tek “Qendra e votimit” caktohet qëndra e cila i perket lokacionit të zyrtarit të cilin jemi duke e regjistruar.

                        </p>
                        <h5>Rezultatet e KQZ</h5>
                        <img src="~/images/kqzvota.png" style="width:100%" />
                        <p>
                            -Në rubriken   “Rezultatet e KQZ” - regjistroni të dhënat e votave për secilen parti politike të
                            lokacionit të cilit jemi duke i regjistruar zyrtarin përkates me rezultate të marrura nga KQZ.<br />
                            -Në rubriken “Lloji i zgjedhjeve” percaktoni llojin e zgjedhjeve,<br />
                            -Ndersa rubrika “Data e zgjedhjëve” ju kërkon te caktoni datën kur janë mbajtur zgjedhjet paraprake, pra
                            zgjedhjet për të cilat po i marrim te dhënat e votave për partitë politike. <br /> <br />
                        </p>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <div>
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle4" data-bs-toggle="modal">Kthehu mbrapa</button>
                        </div>
                        <div>
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle6" data-bs-toggle="modal">Vazhdo para</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Profili im*@
    <div class="modal fade" id="exampleModalToggle6" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" id="testManuali">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Manuali - Profili im</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        -Tek “Profili im” mund të gjejmë të dhënat tona përsonale.Për ti ndryshuar këto të
                        dhëna,poshtë faqes gjendet butoni “Ruaj ndryshimet”
                    </p>
                    <img src="~/images/Profile.png" style="width:100%" />
                    <p>
                        -Në rubriken "Ngarko foton e profilit" ju mund të ngarkoni/ndryshoni foton tuaj të profilit,<br />
                        -Në rubriken "Numri i telefonit" ju mund të ngarkoni/ndryshoni foton tuaj të profilit,<br />
                        -Në rubriken "Email adresa" ju mund të ngarkoni/ndryshoni foton tuaj të profilit.<br />
                    </p>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle5" data-bs-toggle="modal">Kthehu</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary bi bi-info-lg" data-bs-toggle="modal" href="#exampleModalToggle2" role="button"></a>
</div>