@*Modali Dashboard*@
<div class="pt-2">
   
    @*Manuali Add Voter*@
    <div class="modal fade" id="exampleModalToggle1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel4" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="testManuali">
            <div class="modal-content" style="160%">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel" style="color:#012970">Regjistro Votues</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <br />
                    <img src="~/images/PVAnetari.png" id="tedhenatpersonalevotuesi" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" />
                    <br /><p>
                        -Tek “Facebook” , duhet të vendosni linkun e llogarisë së rrjetit social “Facebook” të votuesit.
                        <br />Duhet të keni parasysh se duhet patjetër të zgjedhet një lagje e votuesit, edhe nëse votuesi i përket një fshati që nuk ka ndonjë lagje. Nëse ndonjë prej lagjeve, adresave, blloqeve të votuesit nuk është regjistruar në listë atëherë mund të shtoni përmes butonit “Shto”.
                    </p>
                    <img src="~/images/TedhenatProfesionale.png" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" />
                  
                    <p>
                        -Tek të dhënat profesionale caktoni vendin e punës,sektorin e punës si dhe detyren e votuesit.
                    </p>
                    <img src="~/images/ShtoZyrtare.png" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; " />
              
                    <p>
                        -“Numri i anëtarëve“ përcakton numrin e votuesëve në atë familje, pra numri i anëtarëve me të drejtë vote.<br />
                        -”Gjasat e suksesit fillestar” përcaktojnë përqindjen se sa janë gjasat fillestare që votuesi të perkrahë partinë tuaj.<br />
                        -”Votues i tanishëm” specifikon se cilen parti e mbështet votuesi të cilin jeni duke e regjistruar.<br />
                        -”Qendra e votimit” përcakton qendrën në të cilën votuesi ka votuar në zgjedhjet e kaluara të regjistruara nga KQZ. Në rast të ndryshimeve eventuale, tek lista e qendrave është opsioni “Shto”, në të cilin  mund të shtoni një qendër të re, duke e ruajtur atë përmes butonit ”Ruaj”.
                    </p>
                </div>
                <div class="modal-footer d-flex justify-content-end">
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Vazhdo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Profili im*@
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" id="testManuali">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel" style="color:#012970">Manuali - Profili im</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        -Tek “Profili im” gjejmë të dhënat tona personale, poashtu mund t'i ndryshojmë ato.”
                    </p>
                    <img src="~/images/Profile.png" style="width:100%;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" />
                    <p>
                        -"Ngarko foton e profilit" mund të ngarkoni/ndryshoni foton tuaj të profilit,<br />
                        -"Numri i telefonit" mund të ndryshoni numrin tuaj të telefonit,<br />
                        -"Email adresa" mund të ndryshoni email adresen tuaj.
                    </p>
                </div>
                <div class="modal-footer d-flex justify-content-start">
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle1" data-bs-toggle="modal">Kthehu</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary bi bi-info-lg" data-bs-toggle="modal" href="#exampleModalToggle2" role="button"></a>
</div>
