@*Modali Dashboard*@
<div class="pt-2">
   
    @*Manuali Add Voter*@
    <div class="modal fade" id="exampleModalToggle1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel4" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered " id="testManuali">
            <div class="modal-content" style="160%">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel" style="color:#012970">Regjistro Votues</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="~/images/PVAnetari.png" id="tedhenatpersonalevotuesi" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" />


                    <p>
                        -Në rubriken “Facebook” , duhet të vendosni linkun e llogarisë së rrjetit social “Facebook” të votuesit,
                        -Në rubriken “Qyteti”, duhet patjetër të zgjidhni qytetin e votuesit, duke vazhduar me përzgjedhjen e një fshati, apo lagje të votuesit. Duhet të keni parasysh se duhet patjetër të zgjidhet një lagje e votuesit, edhe nëse votuesi i përket një fshati që nuk ka ndonjë lagje. Nëse ndonjë prej adresave të votuesit nuk është e regjistruar në listë, mund të shtoni adresa tjera në butonin “Shto+”.
                    </p>
                    <img src="~/images/TedhenatProfesionale.png"  id="tedhenatpersonalevotuesi" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" />


                    <p>
                        -Tek të dhënat profesionale caktoni vendin e punës,sektorin e punës si dhe detyren e votuesit, siç është paraqitur në figurën 10.
                    </p>
                    <img src="~/images/ShtoVotuesPartiake.png"  id="tedhenatpersonalevotuesi" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" />

                    <p>
                        -Rubrika “Numri i anëtarëve“  përcakton numrin e votuesve në atë familje, <br />
                        -Rubrika ”Gjasat e suksesit fillestar” percaktojn perqindjen se sa janë gjasat fillestare që votuesi të perkrahë partinë tuaj,<br />
                        -Rubrika ”Votues i tanishëm” specifikon se cilen parti e përkrah votuesi të cilin jeni duke e regjistruar,<br />
                        -Rubrika ”Qendra e votimit” përcakton qendren në të cilin votuesi ka votuar në zgjedhjet e kaluara të regjistruara nga KQZ. Në rast të ndryshimeve eventuale, tek lista e qendrave është opsioni “Shto+”, në të cilin  mund të shtojni një qënder të re, duke e ruajtur atë përmes butonit ”Ruaj”.<br />
                    </p>
                </div>
                <div class="modal-footer d-flex justify-content-end">
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Vazhdo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Profili im*@
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" id="testManuali">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel" style="color:#012970">Manuali - Profili im</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        -Tek “Profili im” mund të gjejmë të dhënat tona përsonale.Për ti ndryshuar këto të
                        dhëna,poshtë faqes gjendet butoni “Ruaj ndryshimet”
                    </p>
                    <img src="~/images/Profile.png" style="width:100%;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" />
                    <p>
                        -Në rubriken "Ngarko foton e profilit" ju mund të ngarkoni/ndryshoni foton tuaj të profilit,<br />
                        -Në rubriken "Numri i telefonit" ju mund të ngarkoni/ndryshoni foton tuaj të profilit,<br />
                        -Në rubriken "Email adresa" ju mund të ngarkoni/ndryshoni foton tuaj të profilit.<br />
                    </p>
                </div>
                <div class="modal-footer d-flex justify-content-start">
                    <div>
                        <button class="btn btn-primary" data-bs-target="#exampleModalToggle1" data-bs-toggle="modal">Kthehu</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary bi bi-info-lg" data-bs-toggle="modal" href="#exampleModalToggle2" role="button"></a>
</div>
