@{
    Layout = "_DashboardLayout";
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">


            <div class="card">
                <div class="card-body p-5">

                    <h5 class="card-title">Krijo llogarinë për zyrtarin e partisë dhe territorin përkatës</h5>
                    <form>
                        <h6 class="pt-4">I - Të dhënat personale</h6><hr />
                        <div class="mb-4 d-flex justify-content-between">
                            <div class="col-12 pe-2">
                                <label>Emri dhe Mbiemri</label>
                                <input class="form-control" id="mbiemripersonal" placeholder="Shkruaj emrin dhe mbiemrin">
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <span>Nr.Tel</span>

                        <div class="mb-4">
                            <div class=" d-flex align-items-center">
                                <div class="col-2">
                                    <input type="text" class="form-control" id="prefix" value="+383">
                                </div>
                                <div class="col-10 ps-2">
                                    <input class="form-control" id="nrtel" type="number">
                                </div>
                            </div>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group pb-3">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Shkruaj email adresen">
                        </div>
                      
                        <div class="mb-4 d-flex justify-content-between">
                            <div class="col-4 pe-2">
                                <label>Qyteti</label>
                                <select class="form-select" id="inputGroupSelect01">
                                    <option disabled selected>Zgjedh qytetin..</option>
                                    <option value="1">Prishtinë</option>
                                    <option value="2">Podujevë</option>
                                    <option value="3">Drenas</option>
                                </select>
                            </div>
                            <div class="col-4 pe-2">
                               <label>Fshati</label>
                            <select class="form-select" id="inputGroupSelect02">
                                <option disabled selected>Zgjedh fshatin..</option>
                                <option value="1">Shajkoc</option>
                                <option value="2">Lluzhan</option>
                                <option value="3">Batllavë</option>
                             </select>
                            </div>
                            <div class="col-4 pe-2">
                                <label>Lagja</label>
                                <select class="form-select" id="inputGroupSelect03">
                                  <option value="shto3">Shto +</option>
                                    <option disabled selected>Zgjedh lagjen..</option>
                                    <option value="#">Dardani</option>
                                    <option value="#">Dragodan</option>
                                    <option value="#">Emshir</option>
                                </select>
                              </div>
                        </div>

                        <div class="mb-4 d-flex justify-content-between">

                            <div class="col-4 pe-2">
                                <label>Rruga</label>
                                <select class="form-select" id="inputGroupSelect04" >
                                    <option disabled selected>Zgjedh rrugen..</option>
                                    <option value="shto4">Shto +</option>
                                    <option value="#">B2</option>
                                    <option value="#">Rr.Mehmet Dervisholli</option>
                                    <option value="#">Rr. Zahir Pajaziti</option>
                                </select> 
                            </div>
                            <div class="col-4 pe-2">
                                <label>Blloku</label>
                                <select class="form-select" id="inputGroupSelect04" >
                                    <option disabled selected>Zgjedh bllokun..</option>
                                    <option value="shto4">Shto +</option>
                                    <option value="#">B2</option>
                                    <option value="#">Rr.Mehmet Dervisholli</option>
                                    <option value="#">Rr. Zahir Pajaziti</option>
                                </select> 
                            </div>
                            <div class="col-4 pe-2">
                                <label>Numri i shtëpisë</label>
                                <input class="form-control" placeholder="opsionale">
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <h6 class="pt-4">II - Të dhënat partiake</h6><hr />
                        <div class="mb-4 d-flex justify-content-between">
                            <div class="col-6 pe-2">
                                <label>Pozita ne parti</label>
                                <select class="form-select" id="inputGroupSelect05">
                                    <option disabled selected>Zgjedh rolin..</option>
                                    <option value="shto5">Shto +</option>
                                    <option value="1">Admin</option>
                             
                                </select>
                                @*<a asp-controller = "Role" asp-action = "AddRoles"  class="link-primary">Shto +</a>*@
                            </div>

                        

                            <div class="col-6 mb-2">
                                <label>Qendra e votimit</label>
                                <input class="form-control">
                                <span class="text-danger"></span>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary">Regjistro</button>
                    </form>
                    <div class="col-12">
                        <h5 class="card-title pt-4">Pershkruaj numrin e votuesve dhe rezultateve nga KQZ</h5>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Numri i votuesëve</th>
                                    <th scope="col">Total : 14600</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">VV</th>
                                    <td>5,500</td>

                                </tr>
                                <tr>
                                    <th scope="row">LDK</th>
                                    <td>4,500</td>

                                </tr>
                                <tr>
                                    <th scope="row">PDK</th>
                                    <td colspan="2">4,000</td>

                                </tr>
                                     <tr>
                                    <th scope="row">AAK</th>
                                    <td colspan="2">500</td>

                                </tr>
                                     <tr>
                                    <th scope="row">AKR</th>
                                    <td colspan="2">50</td>

                                </tr>
                                     <tr>
                                    <th scope="row">Nisma</th>
                                    <td colspan="2">30</td>

                                </tr>
                                     <tr>
                                    <th scope="row">Partite serbe</th>
                                    <td colspan="2">10</td>

                                </tr>
                                     <tr>
                                    <th scope="row">Partite joserbe</th>
                                    <td colspan="2">10</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>
@section Scripts {
    <script>
            const selectElement3 = document.querySelector('#inputGroupSelect03');

    selectElement3.addEventListener('change', (event) => {
      const result = event.target.value;
      if (result === "shto3"){
          prompt("Shto Lagje te re")
      }
    });

                const selectElement4 = document.querySelector('#inputGroupSelect04');

    selectElement4.addEventListener('change', (event) => {
      const result = event.target.value;
      if (result === "shto4"){
          prompt("Shto Rruge/Bllok te ri")
      }
    });

                    const selectElement5 = document.querySelector('#inputGroupSelect05');

    selectElement5.addEventListener('change', (event) => {
      const result = event.target.value;
      if (result === "shto5"){
          prompt("Shto Rol te ri")
      }
    });
    </script>
}