@using Application.ViewModels
@{
    Layout = "_DashboardLayout";
}

@model RegisterVM;

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body p-5">
                    <h2 class="card-title ">Regjistro të dhënat për votuesin</h2>
                    <form asp-action="Register" asp-controller="AddsAdmin" method="post" id="listform">
                        <h6 class="pt-4">I - Të dhënat personale</h6>
                        <hr>
                        <div class="mb-4 d-flex pe-2 justify-content-between">
                            <div class="col-12 p">
                                <label asp-for="FullName" class="">Emri dhe Mbiemri</label>
                                <input class="form-control"  asp-for="FullName" placeholder="Shkruaj emrin dhe mbiemrin">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                        </div>
                        <span>Nr.Tel</span>
                        <div class="mb-2 pe-2">
                            <div class=" d-flex align-items-center ">
                                <div class="col-2">
                                    <input type="text" class="form-control" id="prefix" value="+383">
                                </div>
                                <div class="col-10 ps-2">
                                    <input class="form-control" asp-for="PhoneNumber" type="number" placeholder="49123123">
                                
                                </div>
                               
                            </div>
                             <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group pb-3 pe-2">
                            <label for="exampleInputEmail1">Email adresa</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" asp-for="Email" placeholder="Shkruaj email adresen">
                                <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                        <div class="form-group pb-3 pe-2">
                            <label for="InputFacebook">Facebook</label>
                            <input type="text" class="form-control" asp-for="Facebook" id="InputFacebook">
                        </div>
                        <div class="mb-4 d-flex justify-content-between flex-md-row flex-column">
                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <div class="col-md-4 mb-2 pe-2">
                                    <label asp-for="Municipality">Qyteti</label>
                                    <select class="form-select" asp-for="Municipality" id="munis">
                                        <option disabled selected>Zgjedh qytetin..</option>
                                    </select>
                                <span asp-validation-for="Municipality" class="text-danger"></span>
                                </div>
                                 <div class="col-md-4 mb-2 pe-2">
                                    <label>Fshati</label>
                                    <select class="form-select fshati-selected" asp-for="Village" id="villages">
                                        <option value=" " disabled selected selectcard>Zgjedh fshatin..</option>
                                    </select>
                                </div>


                                <div id="neigborhoods-container" class="col-md-4 mb-2 pe-2">
                                    <label>Lagja</label>
                                    <select class="form-select" asp-for="Neigborhood" id="neigborhoods">
                                        <option disabled selected>Zgjedh lagjen..</option>
                                    </select>
                                </div>

                                <div id="neigborhoodsVillage-container" class="col-md-4 mb-2 pe-2">
                                    <label>Lagja</label>
                                    <select class="form-select" asp-for="Neigborhood" id="neigborhoodsVillage">
                                        <option disabled selected>Zgjedh lagjen..</option>
                                    </select>
                                </div>

                            }

                            @if (User.IsInRole("MunicipalityAdmin"))
                            {
                                <div class="col-md-6 mb-2 pe-2">
                                    <label>Fshati</label>
                                    <select class="form-select fshati-selected" asp-for="Village" id="villages">
                                        <option disabled selected selectcard>Zgjedh fshatin..</option>
                                    </select>
                                </div>


                                <div id="neigborhoods-container" class="col-md-6 mb-2 pe-2">
                                    <label>Lagja</label>
                                    <select class="form-select" asp-for="Neigborhood" id="neigborhoods">
                                        <option disabled selected>Zgjedh lagjen..</option>
                                    </select>
                                </div>
                            }
                        </div>
                        <div class="mb-4 d-flex justify-content-between flex-md-row flex-column">
                            <div class="col-md-4 mb-2 pe-2" id="streetByVillage">
                                <label>Rruga</label>
                                <select class="form-select" asp-for="Street" id="streets">
                                    <option disabled selected>Zgjedh rrugën..</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-2 pe-2" id="streetByNeighborhood">
                                <label>Rruga</label>
                                <select class="form-select" asp-for="Street" id="streetsNeighborhood">
                                    <option disabled selected>Zgjedh rrugën..</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-2 pe-2">
                                <label>Blloku</label>
                                <select class="form-select" asp-for="Block" id="blocks">
                                    <option disabled selected>Zgjedh bllokun..</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-2 pe-2">
                                <label class="">Numri i shtëpisë</label>
                                <input class="form-control" placeholder="opsionale" asp-for="HouseNo">
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <h6 class="pt-4">II - Të dhënat profesionale</h6><hr>

                        <div class=" mb-4 d-flex justify-content-between flex-md-row flex-column">

                            <div class="col-md-4 mb-2 pe-2">
                                <label class="">Vendi i punës</label>
                                <input asp-for="WorkPlace" class="form-control">
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-4 mb-2 pe-2 ">
                                <label>Shërbimi:</label>
                                <select class="form-select" asp-for="AdministrativeUnit" id="inputGroupSelect04" asp-items="@ViewBag.administrativeUnits">
                                    <option disabled selected>Zgjedh shërbimin..</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-2 pe-2">
                                <label class="l">Detyra</label>
                                <input asp-for="Duty" class="form-control">
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <h6 class="pt-4">III - Të dhënat partiake<hr></h6>

                        <div class="mb-4 d-flex justify-content-between flex-sm-row flex-column">
                            <div class="col-sm-6 mb-2 pe-2">
                                <label for="FamilyMember" class="">Nr i Anetareve</label>
                                <input asp-for="FamMembers" type="number" class="form-control" id="FamilyMember">
                                <span asp-validation-for="FamMembers" class="text-danger"></span>

                            </div>
                            <div class="col-sm-6 mb-2 pe-2">
                                <label>Gjasat e suksesit fillestar:</label>
                                <select class="form-select" id="inputGroupSelect05" asp-for="SuccessChance" placeorder="Zgjedh gjasat.." asp-items="@ViewBag.successChances">
                                </select>
                            </div>
                        </div>
                        <div class="mb-4 d-flex justify-content-between flex-sm-row flex-column">
                            <div class="col-sm-6 mb-2 pe-2">
                                <label>Votues i tanishëm..</label>
                                <select class="form-select" id="inputGroupSelect04" asp-for="PoliticalSubject" asp-items="@ViewBag.PS">
                                    <option disabled selected>Zgjedh partinë..</option>
                                </select>
                            </div>
                            <div class="col-sm-6 mb-2 pe-2" id="pollcenter-villages-container">
                                <label>Qendra e votimit</label>
                                <select class="form-select" id="poll" asp-for="PollCenter">
                                    <option disabled selected>Zgjedh qendren e votimit..</option>
                                </select>
                            </div>
                            <div class="col-sm-6 mb-2 pe-2" id="pollcenter-neighborhood-container">
                                <label>Qendra e votimit</label>
                                <select class="form-select" id="pollNeighborhood" asp-for="PollCenter">
                                    <option disabled selected>Zgjedh qendren e votimit..</option>
                                </select>
                                    <span asp-validation-for="PollCenter" class="text-danger"></span>

                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pe-2">Regjistro</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
<script>
        function getCityAsync () {
            var selectedMunis = $(this).children('option:selected').val();
            if (selectedMunis != null) {
                $('#neigborhoods-container').show();
                $('#neigborhoodsVillage-container').hide();
            }
    $('#neigborhoodsVillage-container').hide();

    $('#villages').change(function(){
        var selectedVillage = $(this).children('option:selected').val();
        if(selectedVillage != null){
            $('#neigborhoods-container').hide();
            $('#neigborhoodsVillage-container').show();
        }
    })
    $('#munis').change(function(){
        var selectedMunis = $(this).children('option:selected').val();
        if(selectedMunis != null){
            $('#neigborhoods-container').show();
            $('#neigborhoodsVillage-container').hide();
        }
    });

     $('#streetByVillage').hide();

    $('#neighborhoods').change(function(){
        var selectedNeighborhood = $(this).children('option:selected').val();
        if(selectedNeighborhood != null){
            $('#streetByVillage').hide();
            $('#streetByNeighborhood').show();
        }
    })
    $('#villages').change(function(){
        var selectedVillages = $(this).children('option:selected').val();
        if(selectedVillages != null){
            $('#streetByVillage').show();
            $('#streetByNeighborhood').hide();
        }
    })

     $('#pollcenter-villages-container').hide();

    $('#neigborhoods').change(function(){
        var selectedVillage = $(this).children('option:selected').val();
        if(selectedVillage != null){
            $('#pollcenter-villages-container').hide();
            $('#pollcenter-neighborhood-container').show();
        }
    })
    $('#villages').change(function(){
        var selectedNeighborhood = $(this).children('option:selected').val();
        if(selectedNeighborhood != null){
            $('#pollcenter-villages-container').show();
            $('#pollcenter-neighborhood-container').hide();
        }
    });
</script>
<script>

    const munis = document.querySelector('#munis');
    const villages = document.querySelector('#villages');
    const url = "https://localhost:7278/api/service/";
    getMunis();

    munis.addEventListener('change', event => {
        addVillagesToList(event.target.value);
        addNeigborhoodToList(event.target.value);
        addBlockToList(event.target.value);

    });
    villages.addEventListener('change', event=>{
        addNeigborhoodVillageToList(event.target.value);
        addStreetToList(event.target.value);
        addPollCenterToList(event.target.value);
    });
    neigborhoods.addEventListener('change', event =>{
        addStreetNeighborhoodToList(event.target.value);
        addPollCenterNeighborhoodToList(event.target.value);
    })
    villages.addEventListener('change', event => {
        event.preventDefault()
          if (event.target.value == 'shto'){
            addVillageToDb();
        }
    });
     neigborhoods.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addNeigborhoodToDb();
        }
    });
    blocks.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addBlockToDb();
        }
    });
     streets.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addStreetToDb();
        }
    });
    neigborhoodsVillage.addEventListener('change', event => {
        event.preventDefault()
        if(event.target.value == "shto"){
            addNeigborhoodVillageToDb();
        }
    });
    streetsNeighborhood.addEventListener('change', event =>{
        event.preventDefault()
        if(event.target.value == "shto"){
            addStreetNeighborhoodToDb();
        }
    });
    function getMunis(id){
        let endpoint = url + "getmunis";
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => {
            data.forEach(x => {
                let item = document.createElement("option");
                item.value = x.id;
                item.innerText = x.name;
                munis.appendChild(item);
            });
        });
    }
     function getVillage(id){
        let endpoint = url + "getvillage";
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => {
            data.forEach(x => {
                let item = document.createElement("option");
                item.value = x.id;
                item.innerText = x.name;
                villages.appendChild(item);
            });
        });
    }
    function addVillagesToList(muniId){
        villages.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh fshatin...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        villages.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto fshat te ri...";
        addOption.value = "shto";
        villages.appendChild(addOption);

        let endpoint = url + "getvillagesbymuni?muniid=" + muniId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            villages.appendChild(item);
        }));
    }
    function addVillageToDb(){
        let endpoint = url + "addvillage";
        let input = prompt("Shto fshatin e ri:");
        //let selectedMuni = $('#munis').val();
        let sm = document.querySelector("#munis").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({municipalityId: sm, villageName: input})
        }).then(() => addVillagesToList(sm));
    }
    //neigborhoods
    function addNeigborhoodToList(muniId){
        neigborhoods.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh lagjen...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        neigborhoods.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto lagjen e re...";
        addOption.value = "shto";
        neigborhoods.appendChild(addOption);

        let endpoint = url + "getneighborhoodsbymuni?muniid=" + muniId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            neigborhoods.appendChild(item);
        }));
    }
    function addNeigborhoodToDb(){
        let endpoint = url + "addneighborhood";
        let input = prompt("Shto lagjen e re:");
        let sm = document.querySelector("#munis").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({municipalityId: sm, neighborhoodName: input})
        }).then(() => addNeigborhoodToList(sm));
    }
    //neigborhood by village
    function addNeigborhoodVillageToList(villId){
        neigborhoodsVillage.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh lagjen...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        neigborhoodsVillage.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto lagjen e re...";
        addOption.value = "shto";
        neigborhoodsVillage.appendChild(addOption);

        let endpoint = url + "getneighborhoodsbyvillage?villId=" + villId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            neigborhoodsVillage.appendChild(item);
        }));
    }

    function addNeigborhoodVillageToDb(){
        let endpoint = url + "addneighborhoodbyvillage";
        let input = prompt("Shto lagjen e re:");
        let sm = document.querySelector("#villages").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({villageId: sm, neighborhoodName: input})
        }).then(() => addNeigborhoodVillageToList(sm));
    }

    //block
    function addBlockToList(muniId){
        blocks.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh bllokun...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        blocks.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto bllok të ri...";
        addOption.value = "shto";
        blocks.appendChild(addOption);

        let endpoint = url + "getblocksbymuni?muniid=" + muniId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            blocks.appendChild(item);
        }));
    }

    function addBlockToDb(){
        let endpoint = url + "addblock";
        let input = prompt("Shto bllok të ri:");
        let sm = document.querySelector("#munis").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({municipalityId: sm, blockName: input})
        }).then(() => addBlockToList(sm));
    }

    //street by village
    function addStreetToList(villId){
        streets.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh rrugen...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        streets.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto rrugë te re...";
        addOption.value = "shto";
        streets.appendChild(addOption);

        let endpoint = url + "getstreetbyvillage?villId=" + villId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            streets.appendChild(item);
        }));
    }
    function addStreetToDb(){
        let endpoint = url + "addstreetbyvillage";
        let input = prompt("Shto rrugen e re:");
        let sm = document.querySelector("#villages").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({villageId: sm, streetName: input})
        }).then(() => addStreetToList(sm));
    }
    //street by neighborhood
    function addStreetNeighborhoodToList(neighId){
        streetsNeighborhood.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh rrugen...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        streetsNeighborhood.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto rrugë te re...";
        addOption.value = "shto";
        streetsNeighborhood.appendChild(addOption);

        let endpoint = url + "getstreetbyneighborhood?neighId=" + neighId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            streetsNeighborhood.appendChild(item);
        }));
    }
    function addStreetNeighborhoodToDb(){
        let endpoint = url + "addstreetbyneighborhood";
        let input = prompt("Shto rrugen e re:");
        let sm = document.querySelector("#neigborhoods").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({neighborhoodId: sm, streetName: input})
        }).then(() => addStreetNeighborhoodToList(sm));
    }
    //poll center by village
    function addPollCenterToList(villId){
        poll.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh qendren e votimit...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        poll.appendChild(chooseOption);


        let endpoint = url + "getpollcenterbyvillage?villId=" + villId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            poll.appendChild(item);
        }));
    }
    //poll center by neighborhood
    function addPollCenterNeighborhoodToList(neighId){
        pollNeighborhood.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh qendren e votimit...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        pollNeighborhood.appendChild(chooseOption);

        let endpoint = url + "getpollcenterbyneigborhood?neighId=" + neighId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            pollNeighborhood.appendChild(item);
        }));
    }
</script>
}




