@using Application.ViewModels
@{
    Layout = "_DashboardLayout";
}

@model VoterDetailsVM;

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body p-5">
                    <h2 class="card-title ">Regjistro të dhënat për votuesin</h2>
                    <form asp-action="Register" asp-controller="AddsAdmin" method="post">
                        <h6 class="pt-4">I - Të dhënat personale</h6>
                        <hr>
                        <div class="mb-4 d-flex pe-2 justify-content-between">
                            <div class="col-12 p">
                                <label class="">Emri dhe Mbiemri</label>
                                <input class="form-control" asp-for="FullName" placeholder="Shkruaj emrin dhe mbiemrin">
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <span>Nr.Tel</span>
                        <div class="mb-4 pe-2">
                            <div class=" d-flex align-items-center ">
                                <div class="col-2">
                                    <input type="text" class="form-control" id="prefix" value="+383">
                                </div>
                                <div class="col-10 ps-2">
                                    <input class="form-control" asp-for="PhoneNumber" type="number" placeholder="49123123">
                                </div>
                            </div>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group pb-3 pe-2">
                            <label for="exampleInputEmail1">Email adresa</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" asp-for="Email" placeholder="Shkruaj email adresen">
                        </div>
                        <div class="form-group pb-3 pe-2">
                            <label for="InputFacebook">Facebook</label>
                            <input type="text" class="form-control" asp-for="Facebook" id="InputFacebook">
                        </div>
                        <div class="mb-4 d-flex justify-content-between flex-md-row flex-column">
                            <div class="col-md-4 mb-2 pe-2">
                                <label>Qyteti</label>
                                <select class="form-select" asp-for="MunicipalityName" id="munis">
                                    <option disabled selected>Zgjedh qytetin..</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-2 pe-2">
                                <label>Fshati</label>
                                <select class="form-select" asp-for="Village" id="villages">
                                    <option disabled selected>Zgjedh fshatin..</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-2 pe-2">
                                <label>Lagja</label>
                                <select class="form-select" asp-for="Neigborhood" id="neigborhoods">
                                    <option disabled selected>Zgjedh lagjen..</option>
                                </select>
                            </div>
                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <div class="col-md-4 mb-2 pe-2">
                                    <label>Qyteti</label>
                                    <select class="form-select" asp-for="MunicipalityName" id="munis">
                                        <option disabled selected>Zgjedh qytetin..</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-2 pe-2">
                                    <label>Fshati</label>
                                    <select class="form-select" asp-for="Village" id="villages">
                                        <option disabled selected>Zgjedh fshatin..</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-2 pe-2">
                                    <label>Lagja</label>
                                    <select class="form-select" asp-for="Neigborhood" id="neigborhoods">
                                        <option disabled selected>Zgjedh lagjen..</option>
                                    </select>
                                </div>
                            }else{
                                <div class="col-md-6 mb-2 pe-2">
                                    <label>Fshati</label>
                                    <select class="form-select" asp-for="Village" id="villages">
                                        <option disabled selected>Zgjedh fshatin..</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-2 pe-2">
                                    <label>Lagja</label>
                                    <select class="form-select" asp-for="Neigborhood" id="neigborhoods">
                                        <option disabled selected>Zgjedh lagjen..</option>
                                    </select>
                                </div>
                            }
                        </div>
                        <div class="mb-4 d-flex justify-content-between flex-md-row flex-column">
                            <div class="col-md-4 mb-2 pe-2">
                                <label>Rruga</label>
                                <select class="form-select" asp-for="Street" id="streets">
                                    <option disabled selected>Zgjedh rrugën..</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-2 pe-2">
                                <label>Blloku</label>
                                <select class="form-select" asp-for="Block" id="blocks">
                                    <option disabled selected>Zgjedh bllokun..</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-2 pe-2">
                                <label class="">Numri i shtëpisë</label>
                                <input class="form-control" placeholder="opsionale" asp-for="HouseNo">
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <h6 class="pt-4">II - Të dhënat profesionale</h6><hr>

                        <div class=" mb-4 d-flex justify-content-between flex-md-row flex-column">

                            <div class="col-md-4 mb-2 pe-2">
                                <label class="">Vendi i punës</label>
                                <input asp-for="WorkPlace" class="form-control">
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-4 mb-2 pe-2 ">
                                <label>Shërbimi:</label>
                                <select class="form-select" asp-for="AdministrativeUnit" id="inputGroupSelect04" asp-items="@ViewBag.administrativeUnits">
                                    <option disabled selected>Zgjedh shërbimin..</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-2 pe-2">
                                <label class="l">Detyra</label>
                                <input asp-for="Duty" class="form-control">
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <h6 class="pt-4">III - Të dhënat partiake<hr></h6>

                        <div class="mb-4 d-flex justify-content-between flex-sm-row flex-column">
                            <div class="col-sm-6 mb-2 pe-2">
                                <label for="FamilyMember" class="">Nr i Anetareve</label>
                                <input asp-for="FamMembers" type="number" class="form-control" id="FamilyMember">
                            </div>
                            <div class="col-sm-6 mb-2 pe-2">
                                <label>Gjasat e suksesit fillestar:</label>
                                <select class="form-select" id="inputGroupSelect05" asp-for="InitialChances" placeorder="Zgjedh gjasat.." asp-items="@ViewBag.successChances">
                                </select>
                            </div>
                        </div>
                        <div class="mb-4 d-flex justify-content-between flex-sm-row flex-column">
                            <div class="col-sm-6 mb-2 pe-2">
                                <label>Votues i tanishëm..</label>
                                <select class="form-select" id="inputGroupSelect04" asp-for="CurrentVoter" asp-items="@ViewBag.PS">
                                    <option disabled selected>Zgjedh partinë..</option>
                                </select>
                            </div>
                            <div class="col-sm-6 mb-2 pe-2">
                                <label>Qendra e votimit</label>
                                <select class="form-select" id="pollselector" asp-for="PollCenter" asp-items="@ViewBag.pollCenters">
                                    <option disabled selected>Zgjedh qendren e votimit..</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pe-2">Regjistro</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
<script>
    const munis = document.querySelector('#munis');
    const villages = document.querySelector('#villages');
    const url = "https://localhost:7278/api/service/";
    getMunis();

    munis.addEventListener('change', event => {
        addVillagesToList(event.target.value);
        addNeigborhoodToList(event.target.value);
        addBlockToList(event.target.value);
        addStreetToList(event.target.value);
    });

    villages.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addVillageToDb();
            addQendraVotimitToList(event.target.value);
        }
        else {
            addQendraVotimitToList(event.target.value);
        }
    });

     neigborhoods.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addNeigborhoodToDb();
        }
    });
    blocks.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addBlockToDb();
        }
    });
     streets.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addStreetToDb();
        }
    });
    function getMunis(id){
        let endpoint = url + "getmunis";
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => {
            data.forEach(x => {
                let item = document.createElement("option");
                item.value = x.id;
                item.innerText = x.name;
                munis.appendChild(item);
            });
        });
    }

    function addVillagesToList(muniId){
        villages.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh fshatin...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        villages.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto fshat te ri...";
        addOption.value = "shto";
        villages.appendChild(addOption);

        let endpoint = url + "getvillagesbymuni?muniid=" + muniId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            villages.appendChild(item);
        }));
    }
    function addVillageToDb(){
        let endpoint = url + "addvillage";
        let input = prompt("Shto fshatin e ri:");
        //let selectedMuni = $('#munis').val();
        let sm = document.querySelector("#munis").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({municipalityId: sm, villageName: input})
        }).then(() => addVillagesToList(sm));

    }
    //neigborhoods
    function addNeigborhoodToList(muniId){
        neigborhoods.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh lagjen...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        neigborhoods.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto lagjen e re...";
        addOption.value = "shto";
        neigborhoods.appendChild(addOption);

        let endpoint = url + "getneighborhoodsbymuni?muniid=" + muniId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            neigborhoods.appendChild(item);
        }));
    }

    function addNeigborhoodToDb(){
        let endpoint = url + "addneighborhood";
        let input = prompt("Shto lagjen e re:");
        let sm = document.querySelector("#munis").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({municipalityId: sm, neighborhoodName: input})
        }).then(() => addNeighborhoodsToList(sm));

    }
    //neigborhood by village
    function addNeigborhoodVillageToList(villId){
        neigborhoodsVillage.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh lagjen...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        neigborhoodsVillage.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto lagjen e re...";
        addOption.value = "shto";
        neigborhoodsVillage.appendChild(addOption);

        let endpoint = url + "getneighborhoodsbyvillage?villId=" + villId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            neigborhoodsVillage.appendChild(item);
        }));
    }

    function addNeigborhoodVillageToDb(){
        let endpoint = url + "addneighborhoodbyvillage";
        let input = prompt("Shto lagjen e re:");
        let sm = document.querySelector("#village").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({villageId: sm, neighborhoodName: input})
        }).then(() => addNeigborhoodVillageToList(sm));

    }

    //block
    function addBlockToList(muniId){
        blocks.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh bllokun...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        blocks.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto bllok të ri...";
        addOption.value = "shto";
        blocks.appendChild(addOption);

        let endpoint = url + "getblocksbymuni?muniid=" + muniId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            blocks.appendChild(item);
        }));
    }

    function addBlockToDb(){
        let endpoint = url + "addblock";
        let input = prompt("Shto bllok të ri:");
        let sm = document.querySelector("#munis").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({municipalityId: sm, blockName: input})
        }).then(() => addBlockToList(sm));

    }

    //street
    function addStreetToList(muniId){
        streets.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh rrugen...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        streets.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto rrugë te re...";
        addOption.value = "shto";
        streets.appendChild(addOption);

        let endpoint = url + "getstreetbymuni?muniid=" + muniId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            streets.appendChild(item);
        }));
    }
    function addStreetToDb(){
        let endpoint = url + "addstreet";
        let input = prompt("Shto rrugen e re:");
        let sm = document.querySelector("#munis").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({municipalityId: sm, streetName: input})
        }).then(() => addStreetToList(sm));
    }
</script>
}
