
@{
     Layout = "_DashboardLayout";
}

<section class="section">
      <div class="row">
        <div class="col-lg-12">

           
              <div class="card">
                <div class="card-body p-5">
                     <h5 class="card-title">Regjistro të dhënat për votuesin</h5>
                    <form>
                       <div class="mb-4 d-flex justify-content-between">
                        <div class="col-6 pe-2">
                            <label class="form-label">Emri</label>
                            <input  class="form-control" id="mbiemripersonal">
                            <span class="text-danger"></span>
                        </div>
                            <div class="col-6">
                                <label class="form-label">Mbiemri</label>
                                <input class="form-control">
                                <span  class="text-danger"></span>
                            </div>
                        </div>

                        <span>Nr.Tel</span>

                        <div class="mb-4">
                        <div class=" d-flex align-items-center mt-2">
                            <div class="col-2">
                                <input type="text" class="form-control" id="prefix" value="+383">
                            </div>
                            <div class="col-10 ps-2">
                                <input class="form-control" id="nrtel" type="number">
                            </div>
                        </div>
                         <span  class="text-danger"></span>
                        </div>
                      <div class="form-group pb-3">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                      </div>
                       <div class="form-group pb-3">
                        <label for="InputFacebook">Facebook</label>
                        <input type="text" class="form-control" id="InputFacebook">
                      </div>
                      <div class="mb-4 d-flex justify-content-between">
                        <div class="col-6 pe-2">
                            <label class="form-label">Qyteti</label>
                            <select class="form-select" id="inputGroupSelect04">
                                <option disabled selected>Zgjedh qytetin..</option>
                                <option value="1">Prishtinë</option>
                                <option value="2">Podujevë</option>
                                <option value="3">Drenas</option>
                             </select>
                        </div>
                            <div class="col-6 pe-2">
                               <label class="form-label">Fshati</label>
                            <select class="form-select" id="inputGroupSelect04">
                                <option disabled selected>Zgjedh fshatin..</option>
                                <option value="1">Shajkoc</option>
                                <option value="2">Lluzhan</option>
                                <option value="3">Batllavë</option>
                             </select>
                            </div>
                        </div>

                         <div class="mb-4 d-flex justify-content-between">
                        
                            <div class="col-4 pe-2">
                                <label class="form-label">Lagja</label>
                            <select class="form-select" id="inputGroupSelect04">
                                <option disabled selected>Zgjedh lagjen..</option>
                                <option value="1">Dardani</option>
                                <option value="2">Dragodan</option>
                                <option value="3">Emshir</option>
                             </select>
                            </div>
                             <div class="col-4 pe-2">
                                <label class="form-label">Rruga/Blloku</label>
                            <select class="form-select" id="inputGroupSelect04">
                                <option disabled selected>Zgjedh rrugen/bllokun..</option>
                                <option value="1">B2</option>
                                <option value="2">Rr.Mehmet Dervisholli</option>
                                <option value="3">Rr. Zahir Pajaziti</option>
                             </select>
                            </div>
                            <div class="col-4 pe-2">
                                <label class="form-label">Numri i shtëpisë</label>
                                <input class="form-control" placeholder="opsionale">
                                <span  class="text-danger"></span>
                            </div>
                        </div>

                        <div class="mb-4 d-flex justify-content-between">
                        
                            <div class="col-4 pe-2">
                                <label class="form-label">Vendi i punës</label>
                                <input class="form-control">
                                <span  class="text-danger"></span>
                            </div>
                            <div class="col-4 pe-2">
                                <label class="form-label">Shërbimi:</label>
                                <select class="form-select" id="inputGroupSelect04">
                                    <option disabled selected>Zgjedh shërbimin..</option>
                                    <option value="1">Publik</option>
                                    <option value="2">Privat</option>
                                 </select>
                             </div>
                            <div class="col-4">
                                <label class="form-label">Detyra</label>
                                <input class="form-control">
                                <span  class="text-danger"></span>
                            </div>
                        </div>
                     
                      <hr/>

                     
                           
                        <div class="mb-4 d-flex justify-content-between">
                            <div class="col-4 pe-2">
                                <label for="FamilyMember" class = "form-label">Nr i Anetareve</label>
                                 <input type="number" class="form-control" id="FamilyMember">
                            </div>
                            <div class="col-4 pe-2">
                                 <label class="form-label">Gjasat e suksesit fillestar:</label>
                                    <select class="form-select" id="inputGroupSelect05" placeorder = "Zgjedh gjasat..">
                                 
                                        <option value="1">0% (jo te mira)</option>
                                        <option value="2">25% (mjaftueshem te mira)</option>
                                        <option value="3">50% (mesatarisht te mira)</option>
                                        <option value="4">75% (te mira)</option>
                                        <option value="5">100% (shume te mira)</option>
                                     </select>
                            </div>
                            <div class="col-4">
                                <label class="form-label">Votues i tanishëm..</label>
                            <select class="form-select" id="inputGroupSelect04">
                                <option disabled selected>Zgjedh partinë..</option>
                                <option value="1">VV</option>
                                <option value="2">PDK</option>
                                <option value="3">LDK</option>
                             </select>
                            </div>
                        </div>


                      
                      <button type="submit" class="btn btn-primary">Regjistro</button>
                    </form>
            
                </div>
              </div>

            </div>
          </div>
    </section>
