@{
    Layout = "_DashboardLayout";
     <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous">
     </script>
}
@model PoliticalOfficalVM;


<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body p-5">
                    <h5 class="card-title">Krijo llogarinë për zyrtarin e partisë dhe territorin përkatës</h5>
                    <form asp-action="PoliticalOffical" method="post">
                        <h6 class="pt-4">I - Të dhënat personale</h6>
                        <hr />
                        <div class="mb-4 d-flex justify-content-between">
                            <div class="col-12 pe-2">
                                <label asp-for="FullName">Emri dhe Mbiemri</label>
                                <input asp-for="FullName" class="form-control" id="mbiemripersonal"
                                    placeholder="Shkruaj emrin dhe mbiemrin">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                        </div>
                        <span>Nr.Tel</span>
                        <div class="mb-4 pe-2">
                            <div class=" d-flex align-items-center">
                                <div class="col-2">
                                    <input type="text" class="form-control" id="prefix" value="+383">
                                </div>
                                <div class="col-10 ps-2">
                                    <input asp-for="PhoneNumber" class="form-control" id="nrtel" type="number">
                                </div>
                            </div>
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group pb-3 pe-2">
                            <label for="exampleInputEmail1" asp-for="Email">Email address</label>
                            <input type="email" asp-for="Email" class="form-control" id="exampleInputEmail1"
                                placeholder="Shkruaj email adresen">
                        </div>
                        <div class="mb-4 d-flex justify-content-between flex-md-row flex-column">
                            <div class="col-md-4 mb-2 pe-2">
                                <label asp-for="Municipality">Qyteti</label>
                                <select asp-for="Municipality" id="munis" class="form-select">
                                    <option disabled selected>Zgjedh qytetin..</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-2 pe-2">
                                <label asp-for="Village">Fshati</label>
                                <select asp-for="Village" id="villages" class="form-select">
                                    <option disabled selected>Zgjedh fshatin..</option>
                                </select>
                            </div>
                            <div id="neigborhoods-container" class="col-md-4 mb-2 pe-2">
                                <label>Lagja</label>
                                <select class="form-select" asp-for="Neigborhood" id="neigborhoods">
                                    <option disabled selected>Zgjedh lagjen..</option>
                                </select>
                            </div>
                            <div id="neigborhoodsVillage-container" class="col-md-4 mb-2 pe-2">
                                <label>Lagja</label>
                                <select class="form-select" asp-for="Neigborhood" id="neigborhoodsVillage">
                                    <option disabled selected>Zgjedh lagjen..</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-4 d-flex justify-content-between flex-md-row flex-column">
                           <div class="col-md-4 mb-2 pe-2" id="streetByVillage">
                                <label>Rruga</label>
                                <select class="form-select" asp-for="Street" id="streets">
                                    <option disabled selected>Zgjedh rrugën..</option>
                                </select>
                            </div>
                             <div class="col-md-4 mb-2 pe-2" id="streetByNeighborhood">
                                <label>Rruga</label>
                                <select class="form-select" asp-for="Street" id="streetsNeighborhood">
                                    <option disabled selected>Zgjedh rrugën..</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-2 pe-2">
                                <label asp-for="Block">Blloku</label>
                                <select asp-for="Block" id="blocks" class="form-select"
                                    id="inputGroupSelect04">
                                    <option disabled selected>Zgjedh bllokun..</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-2 pe-2">
                                <label asp-for="HouseNo">Numri i shtëpisë</label>
                                <input asp-for="HouseNo" class="form-control" placeholder="opsionale">
                                <span asp-validation-for="HouseNo" class="text-danger"></span>
                            </div>
                        </div>
                        <h6 class="pt-4">II - Të dhënat partiake</h6>
                        <hr />
                        <div class="mb-4 d-flex justify-content-between flex-md-row flex-column">
                            <div class="col-md-6 mb-2 pe-2">
                                <label asp-for="Role">Pozita ne parti</label>
                                <select asp-for="Role" asp-items="@ViewBag.roles" class="form-select"
                                    id="inputGroupSelect05">
                                    <option disabled selected>Zgjedh rolin..</option>
                                </select>
                                @*<a asp-controller = "Role" asp-action = "AddRoles" class="link-primary">Shto +</a>*@
                            </div>
                            <div class="col-md-6 mb-2 pe-2" id="pollcenter-villages-container">
                                <label asp-for="PollCenter">Qendra e votimit</label>
                                <select asp-for="PollCenter" class="form-select" id="poll">
                                    <option disabled selected>Zgjedh qendren e votimit..</option>
                                </select>
                            </div>
                             <div class="col-md-6 mb-2 pe-2" id="pollcenter-neighborhood-container">
                                <label asp-for="PollCenter">Qendra e votimit</label>
                                <select asp-for="PollCenter" class="form-select" id="pollNeighborhood">
                                    <option disabled selected>Zgjedh qendren e votimit..</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" id="test" class="btn btn-primary">Regjistro</button>
                    </form>
                    <div class="col-12">
                        <h5 class="card-title pt-4">Pershkruaj numrin e votuesve dhe rezultateve nga KQZ</h5>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Numri i votuesëve</th>
                                    <th scope="col">Total : 14600</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">VV</th>
                                    <td>5,500</td>

                                </tr>
                                <tr>
                                    <th scope="row">LDK</th>
                                    <td>4,500</td>

                                </tr>
                                <tr>
                                    <th scope="row">PDK</th>
                                    <td colspan="2">4,000</td>

                                </tr>
                                <tr>
                                    <th scope="row">AAK</th>
                                    <td colspan="2">500</td>

                                </tr>
                                <tr>
                                    <th scope="row">AKR</th>
                                    <td colspan="2">50</td>

                                </tr>
                                <tr>
                                    <th scope="row">Nisma</th>
                                    <td colspan="2">30</td>

                                </tr>
                                <tr>
                                    <th scope="row">Partite serbe</th>
                                    <td colspan="2">10</td>

                                </tr>
                                <tr>
                                    <th scope="row">Partite joserbe</th>
                                    <td colspan="2">10</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>
@section Scripts
{
<script>
    $('#neigborhoodsVillage-container').hide();

    $('#villages').change(function(){
        var selectedVillage = $(this).children('option:selected').val();
        if(selectedVillage != null){
            $('#neigborhoods-container').hide();
            $('#neigborhoodsVillage-container').show();
        }
    })
    $('#munis').change(function(){
        var selectedMunis = $(this).children('option:selected').val();
        if(selectedMunis != null){
            $('#neigborhoods-container').show();
            $('#neigborhoodsVillage-container').hide();
        }
    });

     $('#streetByVillage').hide();

    $('#neighborhoods').change(function(){
        var selectedNeighborhood = $(this).children('option:selected').val();
        if(selectedNeighborhood != null){
            $('#streetByVillage').hide();
            $('#streetByNeighborhood').show();
        }
    })
    $('#villages').change(function(){
        var selectedVillages = $(this).children('option:selected').val();
        if(selectedVillages != null){
            $('#streetByVillage').show();
            $('#streetByNeighborhood').hide();
        }
    })

    $('#pollcenter-villages-container').hide();

    $('#neigborhoods').change(function(){
        var selectedVillage = $(this).children('option:selected').val();
        if(selectedVillage != null){
            $('#pollcenter-villages-container').hide();
            $('#pollcenter-neighborhood-container').show();
        }
    })
    $('#villages').change(function(){
        var selectedNeighborhood = $(this).children('option:selected').val();
        if(selectedNeighborhood != null){
            $('#pollcenter-villages-container').show();
            $('#pollcenter-neighborhood-container').hide();
        }
    });
</script>
<script>
    const munis = document.querySelector('#munis');
    const villages = document.querySelector('#villages');
    const url = "https://localhost:7278/api/service/";
    getMunis();
    munis.addEventListener('change', event => {
        addVillagesToList(event.target.value);
        addNeigborhoodToList(event.target.value);
        addBlockToList(event.target.value);
    });
     villages.addEventListener('change', event=>{
        addNeigborhoodVillageToList(event.target.value);
        addStreetToList(event.target.value);
        addPollCenterToList(event.target.value);
    });
     neigborhoods.addEventListener('change', event =>{
        addStreetNeighborhoodToList(event.target.value);
        addPollCenterNeighborhoodToList(event.target.value);
    })
    villages.addEventListener('change', event => {
        event.preventDefault()
          if (event.target.value == 'shto'){
            addVillageToDb();
        }
    });
     neigborhoods.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addNeigborhoodToDb();
        }
    });
    blocks.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addBlockToDb();
        }
    });
    streets.addEventListener('change', event => {
        event.preventDefault()
        if (event.target.value == 'shto'){
            addStreetToDb();
        }
    });
    neigborhoodsVillage.addEventListener('change', event => {
        event.preventDefault()
        if(event.target.value == "shto"){
            addNeigborhoodVillageToDb();
        }
    });
    streetsNeighborhood.addEventListener('change', event =>{
        event.preventDefault()
        if(event.target.value == "shto"){
            addStreetNeighborhoodToDb();
        }
    });
    function getMunis(id){
        let endpoint = url + "getmunis";
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => {
            data.forEach(x => {
                let item = document.createElement("option");
                item.value = x.id;
                item.innerText = x.name;
                munis.appendChild(item);
            });
        });
        }
    function addVillagesToList(muniId){
        villages.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh fshatin...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        villages.appendChild(chooseOption);
        let addOption = document.createElement("option");
        addOption.innerText = "Shto fshat te ri...";
        addOption.value = "shto";
        villages.appendChild(addOption);
        let endpoint = url + "getvillagesbymuni?muniid=" + muniId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            villages.appendChild(item);
        }));
    }
    function addVillageToDb(){
        let endpoint = url + "addvillage";
        let input = prompt("Shto fshatin e ri:");
        //let selectedMuni = $('#munis').val();
        let sm = document.querySelector("#munis").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({municipalityId: sm, villageName: input})
        }).then(() => addVillagesToList(sm));
    }
    //neigborhoods
    function addNeigborhoodToList(muniId){
        neigborhoods.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh lagjen...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        neigborhoods.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto lagjen e re...";
        addOption.value = "shto";
        neigborhoods.appendChild(addOption);

        let endpoint = url + "getneighborhoodsbymuni?muniid=" + muniId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            neigborhoods.appendChild(item);
        }));
    }
    function addNeigborhoodToDb(){
        let endpoint = url + "addneighborhood";
        let input = prompt("Shto lagjen e re:");
        let sm = document.querySelector("#munis").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({municipalityId: sm, neighborhoodName: input})
        }).then(() => addNeigborhoodToList(sm));
    }
    //neigborhood by village
    function addNeigborhoodVillageToList(villId){
        neigborhoodsVillage.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh lagjen...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        neigborhoodsVillage.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto lagjen e re...";
        addOption.value = "shto";
        neigborhoodsVillage.appendChild(addOption);

        let endpoint = url + "getneighborhoodsbyvillage?villId=" + villId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            neigborhoodsVillage.appendChild(item);
        }));
    }

    function addNeigborhoodVillageToDb(){
        let endpoint = url + "addneighborhoodbyvillage";
        let input = prompt("Shto lagjen e re:");
        let sm = document.querySelector("#villages").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({villageId: sm, neighborhoodName: input})
        }).then(() => addNeigborhoodVillageToList(sm));
    }
    //block
    function addBlockToList(muniId){
        blocks.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh bllokun...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        blocks.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto bllok të ri...";
        addOption.value = "shto";
        blocks.appendChild(addOption);

        let endpoint = url + "getblocksbymuni?muniid=" + muniId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            blocks.appendChild(item);
        }));
    }
    function addBlockToDb(){
        let endpoint = url + "addblock";
        let input = prompt("Shto bllok të ri:");
        let sm = document.querySelector("#munis").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({municipalityId: sm, blockName: input})
        }).then(() => addBlockToList(sm));
    }
    //street by village
    function addStreetToList(villId){
        streets.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh rrugen...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        streets.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto rrugë te re...";
        addOption.value = "shto";
        streets.appendChild(addOption);

        let endpoint = url + "getstreetbyvillage?villId=" + villId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            streets.appendChild(item);
        }));
    }
    function addStreetToDb(){
        let endpoint = url + "addstreetbyvillage";
        let input = prompt("Shto rrugen e re:");
        let sm = document.querySelector("#villages").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({villageId: sm, streetName: input})
        }).then(() => addStreetToList(sm));
    }
    //street by neighborhood
    function addStreetNeighborhoodToList(neighId){
        streetsNeighborhood.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh rrugen...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        streetsNeighborhood.appendChild(chooseOption);

        let addOption = document.createElement("option");
        addOption.innerText = "Shto rrugë te re...";
        addOption.value = "shto";
        streetsNeighborhood.appendChild(addOption);

        let endpoint = url + "getstreetbyneighborhood?neighId=" + neighId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            streetsNeighborhood.appendChild(item);
        }));
    }
    function addStreetNeighborhoodToDb(){
        let endpoint = url + "addstreetbyneighborhood";
        let input = prompt("Shto rrugen e re:");
        let sm = document.querySelector("#neigborhoods").value;
        fetch(endpoint, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'post',
            body: JSON.stringify({neighborhoodId: sm, streetName: input})
        }).then(() => addStreetNeighborhoodToList(sm));
    }

    //poll center by village
    function addPollCenterToList(villId){
        poll.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh qendren e votimit...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        poll.appendChild(chooseOption);

      
        let endpoint = url + "getpollcenterbyvillage?villId=" + villId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            poll.appendChild(item);
        }));
    }
    //poll center by neighborhood
    function addPollCenterNeighborhoodToList(neighId){
        pollNeighborhood.innerHTML = '';
        let chooseOption = document.createElement("option");
        chooseOption.innerText = "Zgjedh qendren e votimit...";
        chooseOption.selected = true;
        chooseOption.disabled = true;
        pollNeighborhood.appendChild(chooseOption);

        let endpoint = url + "getpollcenterbyneigborhood?neighId=" + neighId;
        let result = fetch(endpoint)
        .then(res => res.json())
        .then(data => data.forEach(x => {
            let item = document.createElement("option");
            item.value = x.id;
            item.innerText = x.name;
            pollNeighborhood.appendChild(item);
        }));
    }

    const selectElement5 = document.querySelector('#inputGroupSelect05');
    selectElement5.addEventListener('change', (event) => {
        const result = event.target.value;
        if (result === "shto5") {
            prompt("Shto Rol te ri")
        }
    });
</script>
}
